[2020-05-09 20:09] greenpau opened #1 "feature: add support of token based on RS algo"

[2020-05-09 20:10] greenpau opened #2 "feature: add support for striping JWT token from a request"
The idea is that a subsequent handler would not see the token.

[2020-05-09 20:12] greenpau opened #3 "feature: pass claims as headers to downstream plugins"
Refence: https://github.com/BTBurke/caddy-jwt#acting-on-claims-in-the-token

[2020-05-11 19:43] greenpau opened #4 "feature: token compliance"
Add a feature where a found token must comply with basic requirements of length and structure, e.g. three dot-separated parts, etc.

[2020-05-11 22:48] greenpau opened #5 "docs: document access list entry logic"

[2020-05-11 22:48] greenpau opened #6 "docs: explain how to use this library/plugin to issue JWT tokens"
For example, when I implemented jwt plugin, I created a grantor object (and validator object).

https://github.com/greenpau/caddy-auth-jwt/blob/6cdfa3290afde2821526ec27c4f0d1f740e4c066/grantor.go#L7-L38

I also did it so that both the grantor and validator share a set of common parameters.

https://github.com/greenpau/caddy-auth-jwt/blob/6cdfa3290afde2821526ec27c4f0d1f740e4c066/common.go#L5-L13

A

[2020-05-14 04:53] greenpau commented on #6
Here is how `forms` plugin issues tokens:

1. User claim gets constructed at the backend:

https://github.com/greenpau/caddy-auth-forms/blob/99388d341f1461af7de00aa48b4c19263719635a/pkg/backends/local/backend.go#L156-L180

[code]

2. Independent from a backend, the token gets issued (for clarity instead of `TokenProvider` I should have called it `TokenGrantor`; I was mocking the interface on a fly

[2020-05-28 13:40] vtoma opened #7 "How do I use this in Caddyfile?"
Hi, is there a directive for Caddyfile?
Thanks!

[2020-05-28 17:00] greenpau commented on #7
@vtoma , currently, non-JSON configuration is not supported. Thank you for this issue! I am going to add Caddyfile parser shortly.

[2020-06-01 12:22] schu opened #8 "GitHub authentication"
I found this repository via https://github.com/tarent/loginsrv/issues/167

As far as I see, authentication backends and in particular GitHub as backend are not supported (yet?) and caddy-auth-jwt doesn't substitute loginsrv in that regard. Do you plan to add backend support / support for GitHub authentication?

[2020-06-01 13:10] greenpau commented on #8
@schu , thank you for opening this issue! I will try responding to you in a way that I can use the same comment in the plugin documentation later.

The `tarent/loginsrv` combines in it both "authentication" and "authorization" in the same code base.

This repository consists of:
* Caddy v2 Plugin, PLUS
* Exportable functions to issue tokens. Here, it is called "Grantor"

The plugin is "authorizati

[2020-06-01 13:11] greenpau commented on #8
@schu , please let me know if I answered your question.

[2020-06-07 10:02] schu commented on #8
@greenpau thanks, that answers my question.

https://github.com/greenpau/caddy-auth-forms/issues/16

[2020-06-07 10:02] #8 closed

[2020-07-09 07:39] njones opened #10 "Consolidate Errors so that they can be used with errors.Is"
I would like to provide a pull request for changing errors from:

    return fmt.Errorf("user role is valid, but denied by default deny on empty access list")

to

    var ErrEmptyAccessListDefaultDeny = fmt.Errorf("user role is valid, but denied by default deny on empty access list")

    return ErrEmptyAccessListDefaultDeny

Errors would be defined at the top of the file that they are first used

[2020-07-09 15:08] greenpau commented on #10
@njones , thank you for opening this issue! Generally, the above approach works well when there `switch`/`case` type of logic related to error handling. AWS SDK has a lot of that. This code base does not have much of it.

What is the benefit of implementing this?

[2020-07-09 15:16] greenpau commented on #10
@njones, with `fmt.Errorf` the code is readable. I am not sure that would be the case with the `errors.go` type of a file.

[2020-07-09 17:47] njones commented on #10
I think that since errors are values in go it's expected that you can act on them (regardless of whether it's in a switch/case statement), so errors not just pass them along for logging purposes. Creating a variable or constant will also allow development with the `error.Is` method easy.

As a side point using error constants can help with resource management, as you're using a runtime function to

[2020-07-21 20:30] vtoma commented on #7
Hey @greenpau , any news on directive for Caddyfile?

[2020-07-21 20:32] greenpau commented on #7
@vtoma , did not have time to get to it yet. 😢

[2020-07-22 06:52] vtoma commented on #7
@greenpau can some money compensation help to get things go faster? :)

[2020-07-23 11:12] njones opened #13 "The "token_sources" key is not restricting the token sources"
https://github.com/greenpau/caddy-auth-jwt/blob/master/pool.go#L112

Is where the check that a valid list of allowed sources exists... where here is where they are checked:

https://github.com/greenpau/caddy-auth-jwt/blob/master/validator.go#L83

And that checks every source.

Also the current code does not check a custom token name from "token_name"?

I can submit a pull request for these changes

[2020-07-23 12:55] #10 closed

[2020-07-23 13:40] greenpau commented on #7
@vtoma, everything is possible :-) please reach out on LinkedIn :-)

[2020-07-23 14:22] greenpau commented on #13
@njones , thank you for the questions! I think it is worth creating PR for `README.md`. I like your questions a lot!

@njones , override and set the token name.

@njones , the order be preserved by they way they are in the slice.

@njones , awesome suggestion!

[2020-07-23 15:52] njones commented on #1
I'd like to help push this forward. As of now you have the secret accessible via the config file or an env variable. Can we do the same for the RS Key and Cert (i.e. env vars "JWT_PRIV_KEY",  "JWT_PUB_KEY" and "JWT_KEY_ALGO" or "token_priv_key", "token_pub_key" and "token_key_algo")

Do you have any strong thoughts on this? around naming conventions? storage?

[2020-07-23 16:07] greenpau commented on #1
@njones , I try not to be opinionated :-) haha :-) Please create a PR. Preliminary edits are.

* `token_key_algo` => `token_algo`
* `token_priv_key` => `token_private_key`
* `token_pub_key` => `token_public_key`

[2020-07-25 11:11] #13 closed

[2020-07-28 22:41] cameronelliott opened #16 "xcaddy master build failing with caddy-auth-jwt"
This may not be of much interest here, but I thought I'd share in case someone knows.

This works okay: $ xcaddy build --with github.com/greenpau/caddy-auth-jwt

This works okay: $ xcaddy build master

**This fails: $ xcaddy build --with github.com/greenpau/caddy-auth-jwt master**

with:
[code]

The issue is clearly the: **`assignment mismatch: 3 variables but x509util.SplitSANs returns 4 values`*

[2020-07-29 00:14] greenpau commented on #16
@cameronelliott , what does v2.1.2 mean in this context? I don't see this in the list of tags: https://github.com/caddyserver/caddy/tags

Also, I went to https://caddyserver.com/download and selected `caddy-auth-jwt` and it compiled no issues.

I do not recognize these x509util ... perhaps the error comes from caddyserver itself.

[2020-07-29 00:37] cameronelliott commented on #16
@greenpau Thank you for looking at this.

This is somehow a tag against the current master, the last tag is 2.1.1, which is 28 days old.
I am trying to get changes made much more recent to the caddy master. I presume 2.1.2 is a tag on the git master repo somehow, rather than a github published tag.

I suppose my key question, would be does this work for you:

From an empty dir:
**`$ xcaddy build m

[2020-07-29 00:44] greenpau commented on #16
@cameronelliott , you are correct. It fails to build against the master. However, building against the master is not the way to go. It could be WIP by the caddyserver committers. Specifically ACME stuff.

Why can't you specify a version of caddy, e.g. `xcaddy build v2.1.1`?

[code]

[2020-07-29 00:44] greenpau commented on #16
@cameronelliott , thank you! @njones is doing great work too!

[2020-07-29 01:13] cameronelliott commented on #16
Well, I was trying to run https with using localhost and Chrome, but per Matt Holt, a recent fix may be necessary to get that to work:
[matt comment](https://caddy.community/t/localhost-certificate-invalid-on-mac-os/9036/4?u=cameron_elliott)

But, I found a work around, so I think I am fine to just wait until 2.1.2 gets tagged and available through the natural process, at which point I would guess

[2020-07-29 01:29] #16 closed

[2020-07-29 01:30] cameronelliott commented on #5
@greenpau if you have a moment sometime, I'd be curious if/how I can allow a user through with a valid token, but not necessarily any roles.

[2020-07-29 01:32] cameronelliott commented on #5
okay, I popped it open [link](https://github.com/greenpau/caddy-auth-jwt/blob/0f63f3cd1a4134ef9d67e02716f1d518f9cb70f9/access_list.go#L65)

It looks like the only claim allowed currently is "roles".

[2020-07-29 02:50] greenpau commented on #5
@cameronelliott , that would be a feature request. I was thinking about:

[code]

In `caddy-auth-portal`, I always grant "anonynous" role to any user.

What you are asking is bypassing role verification alltogether.

[2020-07-29 03:23] cameronelliott commented on #5
@greenpau Yes, I think that is kind of what I am looking for.

But, I am not using `caddy-auth-portal`.
And the system I am using does not create an "anonynous" role for every user. :disappointed:

I am actually using Netlify widget and Gotrue as my UI and my database. Between the two,
they will create a JWT token that gets saved as a cookie.
[Gotrue](https://github.com/netlify/gotrue)
[netlify-id

[2020-07-29 13:49] greenpau commented on #5
they will create a JWT token that gets saved as a cookie.

@cameronelliott , this is so cool! I did not know about these project! Thank you for letting me know!!! 😄 Pretty cool!

I think in the process of unpacking the token, the plugin can unpack  `app_metadata => authorization => roles`.

https://github.com/greenpau/caddy-auth-jwt/blob/0f63f3cd1a4134ef9d67e02716f1d518f9cb70f9/user.go#L175-L195

[2020-07-29 14:27] greenpau commented on #5
@cameronelliott , adding support for app_metadata 😄 https://github.com/greenpau/caddy-auth-jwt/blob/7a4c7349370867e898d9f30684817a8decc97902/README.md#role-based-access-control

[2020-07-29 17:05] greenpau commented on #5
@cameronelliott, please review https://github.com/greenpau/caddy-auth-jwt/pull/17/files. Is this what you need?

[2020-07-29 17:10] greenpau commented on #5
@cameronelliott , I am working to allow exactly that!

[2020-07-29 17:10] greenpau commented on #5
@cameronelliott , will be ready by EOD.

[2020-07-29 17:28] cameronelliott commented on #5
You are amaing. 💯

[2020-07-29 23:31] #5 closed

[2020-07-29 23:31] #6 closed

[2020-07-29 23:50] greenpau commented on #5
@cameronelliott , all done. Please use v1.0.5

[2020-08-01 22:08] cameronelliott commented on #5
@greenpau Thanks for doing this, I have been pulled into another project, so I might not be able to test this for a while.
But, I think the utility to people using gotrue and the netlify-identity-widget is huge!
Thanks, Cameron

[2020-08-01 22:14] greenpau commented on #5
@cameronelliott , it is all good! 😄 When you get back to it, please report your findings and file bugs! 😆

@cameronelliott , yes ... I actually never heard about app_metadata concept before! So it was fun reading about. Once again, thank you for bringing this up.

[2020-08-01 22:15] greenpau commented on #7
@vtoma , I asked caddy team to help with the Caddyfile conversion. I will hear more about it next week. Will keep you posted.

[2020-08-01 22:19] greenpau opened #18 "feature: obtain role information from groups key"
Recently, I added support for `app_metadata` for RBAC.

https://github.com/greenpau/caddy-auth-jwt/blob/a80a6c5a1f9deb14461f1a6c8493b2f2d33f5e26/user.go#L198-L225

Now, I am thinking some people might use `groups` key to store role info.

This issue track the work necessary to  obtain role info from groups.

[2020-08-03 12:11] vtoma commented on #7
Thanks!

On Sun, Aug 2, 2020 at 1:15 AM Paul Greenberg <notifications@github.com>
wrote:

[2020-08-12 21:02] #1 closed

[2020-08-20 03:45] sk123 commented on #7
Awesome, I came to ask this same question (in my first ever github post)! Caddyfile support would help me a ton.  Thanks for all you do.

[2020-09-04 14:25] greenpau opened #19 "feature: source ip claim validation"
add the ability to embed source ip claim information.

[2020-09-04 23:54] greenpau commented on #2
closing. belongs to `caddy-auth-portal`.

[2020-09-04 23:56] #18 closed

[2020-09-05 00:00] greenpau commented on #19
resolved.

[2020-09-05 00:00] #19 closed

[2020-09-11 03:55] greenpau commented on #7
@vtoma , @sk123 , prepare to test by the EOW! 😄 See #21
very close to making it work with some basic settings.

[2020-09-11 17:59] greenpau commented on #7
@vtoma , @sk123 , see reference config: https://github.com/greenpau/caddy-auth-portal#secure-prometheus

[2020-09-11 17:59] #7 closed

[2020-09-11 23:45] sk123 commented on #7
you rock! i haven't had a chance to play with it; will try tonight, but definitely this weekend.  thank you thank you!

[2020-09-12 17:37] MexHigh opened #22 "feature: jwt > auth_url should allow different host"
If I try to set the `jwt > auth_url` directive to something like `https://auth.example.com`, I get the following error:

` Error during parsing: path directive must begin with '/'`

It should be possible to have the auth portal on another host so that hosts (e.g. `chat.example.com` and `videos.example.com`) use the same auth portal.

[2020-09-12 17:48] greenpau commented on #22
@MexHigh , are you using `portal` or do you only use `jwt`?

[2020-09-12 17:51] greenpau commented on #22
@MexHigh , release fix  https://github.com/greenpau/caddy-auth-jwt/releases/tag/v1.0.10

[2020-09-12 18:04] MexHigh commented on #22
@greenpau Thanks :) I'm using both.

[2020-09-12 18:10] greenpau commented on #22
@MexHigh , just out of curiosity ... please check whether it works for you now or now. `caddy-auth-portal` has previous release in `go.mod`. Idk whether it would matter or not.

[2020-09-12 18:12] greenpau commented on #22
If it does not work and `go.mod` jwt version matters, then I will update `go.mod` in `portal` and push.

[2020-09-12 18:18] MexHigh commented on #22
I'm getting an unused import error when trying to build caddy: `/go/pkg/mod/github.com/greenpau/caddy-auth-jwt@v1.0.10/caddyfile.go:21:2: imported and not used: "strings"`

[2020-09-12 18:28] greenpau commented on #22
on it.

[2020-09-12 18:29] MexHigh commented on #22
When I'm trying to build caddy with only `https://github.com/greenpau/caddy-auth-portal` it uses v1.0.9 of `jwt`. So you have to adjust the `go.mod` in `portal`.

[2020-09-12 18:30] greenpau commented on #22
Will address it right now.

[2020-09-12 18:33] greenpau commented on #22
@MexHigh , updated portal to v1.0.13! Please test that lucky number :-)

[2020-09-12 18:46] MexHigh commented on #22
Does work now, thank you very much :)

[2020-09-12 19:15] MexHigh commented on #22
Ok I did some more testing, and it actually does not work correctly yet.

**Setup:** I'm using the `jwt` directive for let's say `chat.example.com` and the `auth_portal` on `auth.example.com`.

When I'm trying to access `chat.example.com` the access_token (which was issued by `auth.example.com`) is not sent (no `Cookie: access_token` request header). This causes a redirect back to `auth.example.co

[2020-09-12 19:43] greenpau commented on #22
@MexHigh , I am guessing it is related to the Cookie mode. `Secure; HttpOnly;`. See `SameSite` in https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie

Could you please share your Caddyfile? This will help a bit.

Is `auth.example.com` running `caddy-auth-portal` or something else?

[2020-09-12 20:10] MexHigh commented on #22
### My Caddyfile
[code]

Caddy is built with `xcaddy` and both `github.com/greenpau/caddy-auth-jwt` and `github.com/greenpau/caddy-auth-portal`.

[2020-09-12 20:18] greenpau commented on #22
@MexHigh , could you please post screenshot from https://jwt.io/ of the token you get. Just want to see roles, etc.

The authentication works, correct?

The access to `/jwt-auth-test` works too?

The access to `https://chat.example.com` does not work?

[2020-09-12 20:26] greenpau commented on #22
@MexHigh , this a good issue to read https://stackoverflow.com/questions/18492576/share-cookie-between-subdomain-and-domain. I think this belongs to `caddy-auth-portal` now.

I opened https://github.com/greenpau/caddy-auth-portal/issues/30 to add support for intra domain cookie handling.

[2020-09-12 20:26] #22 closed

[2020-09-13 15:26] MexHigh opened #23 "bug: auth_url not inherited from primary instance"
### Example Caddyfile
[code]

The "short" `jwt` directive should inherit all configuration from the primary instance above, but instead, when accessing `https://chat.example.com`, I'm getting redirected to `https://chat.example.com/auth`.

When setting the `auth_url` again like
[code]
it works fine. The allowed roles and `trusted_tokens` are inherited correctly and the tokens issued by `https://au

[2020-09-13 15:39] greenpau commented on #23
@MexHigh , thank you for reporting this! Will fix it today. The issue is that I am setting a default when parsing Caddyfile. I should not.

[2020-09-14 17:49] greenpau commented on #23
@MexHigh , I will update `portal` plugin by EOD and you should be good to go.

[2020-09-15 02:28] greenpau commented on #23
@MexHigh , release https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.0.15
please test

[2020-09-15 17:50] MexHigh commented on #23
Works for me now. Thank you very much.

[2020-09-15 17:50] #23 closed

[2020-09-15 18:24] greenpau commented on #23
@MexHigh , btw, with your pattern of usage, you might benefit from the following pattern.

It is not documented and I need to re-implement it in `portal` (was lost in transition).

[code]

 The `redirect_url` in URL query creates `AUTH_PORTAL_REDIRECT_URL`. Upon successful authentication, the portal clears the cookie and redirect a user to the page specified in AUTH_PORTAL_REDIRECT_URL.

[2020-09-15 18:33] greenpau commented on #23
@MexHigh , will be re-releasing this feature next. Probably in a few days.

[2020-09-15 22:54] MexHigh commented on #23
Sounds convenient. I will try it out tomorrow.

[2020-09-16 00:07] greenpau commented on #23
@MexHigh , will ping you when it is ready. I think it will b e EOW. https://github.com/greenpau/caddy-auth-portal/blob/fe6d6face4d78d8fe3c6b9a1fe6e01d88004cf55/README.md#auto-redirect-url

[2020-09-17 11:35] psrcek opened #24 "Allow access filtering by path/placeholders"
I would like to manage access to certain assets with JWT tokens. Currently as far as I can tell that isn't possible.
I've tried the following but it doesn't seem to work (note the `{path}` placeholder)

[code]

my token looks like this:
[code]

additionally, if i add the admin role into the token it works fine.

[2020-09-17 12:29] greenpau commented on #24
@psrcek , thank you for the issue! Just to confirm my own understanding of the issue. You have some secret javascript that you want accessible by authenticated users. Correct? If so it is a quick fix.

[2020-09-17 13:30] psrcek commented on #24
I have some things stored in /assets that i want to be accessible to only users with the correct id which my token will contain.
Think of it as personal files for each user.

This module only allows role filtering. I thought i could get around it by using the {path} placeholder in the allow roles directive and then giving the path in the token, but that doesn't work.

[2020-09-17 13:49] psrcek commented on #24
To clarify: I would have to manually add a route for each file and then add token roles to all the users i want to have access to that file. If I have many constantly changing files that's not a viable solution because it requires reloading the caddy config constantly, but adding file paths to the token is viable because then the only things changing are the files and the token which i can easily

[2020-09-17 14:14] greenpau commented on #24
@psrcek , understood. I will submit a PR to allow the path filtering functionality.

What you are asking would probably change the allow statement in the following way. The `allow` with `{path}` would create `deny {path} roles *`.

[code]

[2020-09-17 14:37] psrcek commented on #24
I don't know why you'd make a PR if you're the author of this project or why you're specifying {path} twice in there but sure.

Also while you're at it it would be nice if you just allowed all [placeholders](https://caddyserver.com/docs/caddyfile/concepts#placeholders) instead of just path like all the other things in the caddyfile do.

[2020-09-17 14:51] greenpau commented on #24
@psrcek , imagine you are reading `README.md` file for this project. Please provide the part that describes the functionality you would like to see.

I see where the confusion is. I did not mean `{path}` as a Caddy concept.

[code]

[2020-09-17 15:00] psrcek commented on #24
I did.

I would like to be able to use placeholders in the allow roles directive so that I can allow access based on token data.
assume I use the same caddyfile as the one in the OP.

With the following token I would be allowed access to `https://my.site/assets/image1.png` and `https://my.site/assets/image2.png` but denied access to any other files in `/assets`. Therefore I could create a token th

[2020-09-17 15:02] psrcek commented on #24
The only line in question here is `allow roles admin {path}` where `{path}` is treated literally and not as a placeholder like it should be.

[2020-09-17 15:06] greenpau commented on #24
@psrcek , I am in sync here.

That would not work for the plugin. The `path` would be state prior to the roles.

[code]

Per `  "roles": ["/assets/image1.png", "/assets/image2.png"],`, the `roles` should be actual user roles.

Are you saying you want to embed a new claim into the token and then allow and restrict based on that?

[2020-09-17 15:18] psrcek commented on #24
I just want to be able to allow access to certain paths with some claim in the token. As far as I can see your module only reads the roles claim so that's where I thought putting that would be appropriate, but as I've said three times so far that does not work because your module does not evaluate placeholders and just treats them as literal strings.

[2020-09-18 17:48] greenpau commented on #23
@MexHigh , please try it and see if it works for you.

[2020-09-19 06:04] rayjlinden opened #25 "feature request: redirect to page user was on"
Using auth_url one can redirect to a specific page:
[code]

However, folks will "deep link" into my site and redirecting them to the home page or something after auth will be a very broken experience.

It is critical to have an option to redirect back to the url they were trying to get to before being redirected to auth:
Something like a special mode like this:
[code]

[2020-09-19 12:41] MexHigh commented on #23
This works for me. But I have two issues here:

1. How do I redirect back the complete path accessed on `chat.example.com`? E.g. when accessing `https://chat.example.org/admin`, then I'm gettting redirected back to `https://chat.example.org/admin`.
Using `auth_url https://auth.example.com/?redirect_url=https://chat.example.com{uri}` does not work either.

2. Would't it be more convenient to set a

[2020-09-19 12:45] MexHigh commented on #23
Just saw, that there is an issue on that #25.

[2020-09-19 12:50] greenpau commented on #23
@MexHigh , will implement something like that ... i think I will make it default to redirect back. Then, will have disabled_redirect_back keyword in the config.

[2020-09-20 07:19] joe-getcouragenow commented on #25
Also critical for me too.

[2020-09-20 15:36] #25 closed

[2020-09-20 16:25] greenpau commented on #23
@MexHigh, please test the latest version. the auto-redirect will work automatically. https://github.com/greenpau/caddy-auth-jwt#auto-redirect-url

[2020-09-20 16:34] greenpau opened #27 "feature: support gRPC Token-based authentication"
Per https://grpc.io/docs/guides/auth/#supported-auth-mechanisms,

This issue tracks the supporting of this mechanism.

Related: https://github.com/greenpau/caddy-auth-portal/issues/34

[2020-09-20 19:31] MexHigh commented on #23
Works like a charm also with different paths in the URL. Thank you.

[2020-09-20 19:39] MexHigh opened #28 "bug: logout button in portal does not work"
When clicking the logout button at `/auth/portal`, I'm getting a 302 redirect back to `/auth/portal` with `/auth?logout=true` as initiator. **The access token is still present and valid after that.**

I think this is because `/auth` redirects back to `/auth/portal` when there is a valid token present, regardless of the `?logout=true` parameter.

![jwt](https://user-images.githubusercontent.com/504

[2020-09-20 19:54] greenpau commented on #28
@MexHigh , this is a but ... The logout url is "/auth/logout". Previously, I had it `?logout=true`.

Are you using the latest template?

https://github.com/greenpau/caddy-auth-portal/blob/main/assets/templates/forms_portal.template

By the way, did you create your own template or do you use default?

[2020-09-20 19:59] greenpau commented on #28
By default I mean "not specifying template at all". This way it pick one up from memory.

[2020-09-20 20:12] MexHigh commented on #28
I'm using a slightly modified version of yours. But it may be some versions behind. I'm trying again with newer ones.

[2020-09-20 20:17] MexHigh commented on #28
![jwt](https://user-images.githubusercontent.com/50419884/93721231-b6dbb000-fb8e-11ea-9993-0818f9a28656.png)

Token is still valid. I'm just getting a drifferent redirect chain. Haven't set the template at all in the `ui` subdirective.

[2020-09-20 20:31] greenpau commented on #28
@MexHigh, do you still have `access_token` in your cookies? or do you expect the invalidation of the token previously granted to you?

[2020-09-20 20:40] MexHigh commented on #28
I actually have two cookies named `access_token`, one with the correct JWT value and one with `delete` as content after logging out.
I expect that the logout removes the `access_token` cookie so that I need to re-authenticate when accessing a ressource secured with `jwt`.
![jwt](https://user-images.githubusercontent.com/50419884/93721738-43d43880-fb92-11ea-9ae8-d96473241dc0.png)

[2020-09-21 00:03] greenpau commented on #28
@MexHigh , I suspect it is because the delete cookie parameters do not match ... I need to refactor the delete.

Could you please show all the fields of the two "access_token"? I think due to the use of domain, they do not clear out.

Will fix that shortly.

[2020-09-21 00:19] greenpau commented on #28
@MexHigh , I still need to see the values ... have you tried to clear the tokens completely? Are you using firefox?

[2020-09-21 00:48] greenpau commented on #28
@MexHigh , I am pretty sure that the delete token does not have domain included.

[2020-09-21 00:48] #28 closed

[2020-09-21 07:42] MexHigh commented on #28
I'm using Chrome, because Firefox does not display the delete tokens I'm seeing in Chrome. But I tried both browsers, even the mobile versions of them. I'm using a fresh browser instances every time when testing this (setting a new temporary data directory for chrome using the `--user-data-dir` flag). I've tried deleting cookies by hand as well.

Chrome displays `.example.com` on the cookie contai

[2020-09-21 07:45] MexHigh commented on #28
I just discovered that the delete token expires at January 1st, 1970. Maybe this could be a problem.

![jwt](https://user-images.githubusercontent.com/50419884/93742872-2d0fff00-fbef-11ea-8de6-2d071d6480b6.png)

[2020-09-21 12:25] greenpau commented on #28
@MexHigh , I just pushed `v1.1.1` https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.1.1

When specifying `cookie_domain`, please put a leading dot ,

[code]

[2020-09-21 12:26] greenpau commented on #28
additional reference: https://stackoverflow.com/questions/9618217/what-does-the-dot-prefix-in-the-cookie-domain-mean#:~:text=The%20leading%20dot%20means%20that,implementing%20the%20deprecated%20RFC%202109.

[2020-09-21 18:27] MexHigh commented on #28
Works perfecty now. Even without the leading dot. Thank you.

[2020-09-21 20:16] greenpau commented on #28
@MexHigh , thank you for testing! 👍

On a separate note, I am planning adding MFA with App/Yubikey/Hardware tokens.

 https://github.com/greenpau/caddy-auth-portal#add-mfa-authenticator-application

Would you be interested in testing this feature?

[2020-09-21 20:35] MexHigh commented on #28
Yes, of course. Sounds good.

[2020-09-22 06:57] rayjlinden opened #29 "redirect to page I logged in from"
I tried the new feature:  disable auth_redirect_query

I have a config like this:
[code]

After authenticating it left me on the page /auth/portal.  With you that said "Welcome. Access the following services.  Logout".

It did not redirect me back to the page I was on when I got redirected to auth.  It is supposed to right?

[2020-09-22 07:07] rayjlinden commented on #29
Looking through your code - this new feature is NOT a replacement for the pull request I gave.  In the disable case you are setting Location to the auth url again.  (Which is the behavior I see.)

In my. PR I substituted the page I was on before getting redirected into the redirect URL.  That way after auth it would go back to the page in question.

[2020-09-22 07:26] rayjlinden commented on #29
Ah - after pouring through the code - I got it to work.  Don't disable and don't specify the redirect_url then it will redirect to the page you were on.  Got it!

[2020-09-22 07:26] #29 closed

[2020-09-22 13:41] greenpau opened #30 "feature: trust previous authorizers"
Suppose you want to have multiple authorization providers on an endpoint. In this example, the chain consists of `keyauth` and `jwt`.
The `keyauth` authorizes users based on the presence of shared secret, while `jwt` authorizes based on the presence of JWT token.

[code]

If `keyauth` authorizes, the `jwt` will fail because of no token will be found.

Therefore, I want to intoduce a way to signal

[2020-09-29 13:58] tad-lispy opened #31 "feature: authenticate tokens passed via Authorization (Bearer) header"
First of all thank you for sharing this plugin with us.

I am trying to use it in my application but I'm having trouble setting it up. Probably I'm doing something wrong.

Here is my Caddyfile :

[code]
I don't use this secret in production 😉

Here is the token:

[code]

decoded:

[code]

It works when I make a request like this:

[code]

but my client is passing the token in the Authorization hea

[2020-09-29 14:06] greenpau commented on #31
@tad-lispy , will help you out! First, what version of the plugin do you use? Please run the following:

[code]

[2020-09-29 14:09] greenpau commented on #31
@tad-lispy , what is that "client"?

I get what is going on ... once I get answers to the questions, I will let you know how to get it working. It is likely will require a patch on my side.

[2020-09-29 14:20] tad-lispy commented on #31
Hey, you are fast 👍

[code]

The client is my web application written in Elm, so I could (and will if I have to) change it to use the query parameter. But it won't be convenient because:

1. There are other services that are using the same auth mechanism (in fact Caddy is a reverse proxy for them)
2. This particular endpoint is a reverse proxy for a 3rd party server and I don't want to send them m

[2020-09-29 14:38] greenpau commented on #31
@tad-lispy , I will add a feature to force authentication without specifying "access_token" or "jwt_token"

[2020-09-29 14:40] greenpau commented on #31
@tad-lispy , will find some time to do it today.

[2020-09-29 14:41] tad-lispy commented on #31
Awesome, thanks!

[2020-09-30 10:54] #31 closed

[2020-09-30 10:54] greenpau commented on #31
@tad-lispy , please use https://github.com/greenpau/caddy-auth-jwt/releases/tag/v1.0.18

Here is the option that enables the inspection of "Bearer":

[code]

Test it with:

[code]

[2020-09-30 11:20] tad-lispy commented on #31
Works! Thank you very much and have a nice day.

[2020-10-01 21:27] greenpau commented on #4
Closing ... perhaps it is not necessary.

[2020-10-01 21:28] #4 closed

[2020-10-01 21:35] greenpau commented on #27
@ joe-getcouragenow , the OAuth2.0 is now available in `caddy-auth-portal`. Please read https://github.com/greenpau/caddy-auth-portal#google-identity-platform

I guess what you need to do is add a token backend with public keys from your OAuth2.0 provider.

https://github.com/greenpau/caddy-auth-jwt/blob/4a92a4d1891abe337e3e3fd8d00b4e053e2de74c/caddyfile.go#L61-L64

[2020-10-03 01:28] greenpau opened #32 "feature: caddyfile option for ACL deny decision"
By default `caddyauth.Authenticator` plugins should not set header or payload of the response. However, by default, it yields 401 (instead of 403), because `caddyauth.Authenticator` does not distinguish between authorization (403) and authentication (401).

The default would responding with `403 Forbidden`.

However, using the following stanza

[code]

Related to: https://github.com/greenpau/caddy

[2020-10-03 01:56] #32 closed

[2020-10-03 20:48] psrcek commented on #24
if I see correctly you're now allowing roles access to specific paths. BUT you're not reading those paths from the token. That's great but still doesn't work for my use case. I need to be able to issue path specific tokens without specifying all the paths in the config separately. I've had to build a separate application to handle this now because of a company deadline but my use case still stands

[2020-10-04 13:48] greenpau commented on #24
@psrcek , I reopened this issue. I found a similar type of authorization here: https://developer.nexmo.com/conversation/guides/jwt-acl . Let's call it "Path-Based ACL".

As you can see, there is no groups, group, roles, role claims. The things one can access is all described inside the token.

[code]

Is this what you want? or you want to combine RBAC ACLs withe Path-Based  ACLs?

[2020-10-04 19:09] greenpau commented on #24
@psrcek , please see https://github.com/greenpau/caddy-auth-jwt#path-based-access-lists for details.

[2020-10-04 20:07] psrcek commented on #24
That is way better than it was before! Thank you for the amazing work implementing my request, and thanks for making such a great plugin :heart:
I think that this should work now for my case:

[code]

with the following in my caddyfile:

[code]

I'll test it tomorrow. :wink:

Though the readme is not very clear about which claims the module reads (is it configurable? Does it check all the claims?)

[2020-10-04 23:00] greenpau commented on #24
the `"acl": {"paths": [...] ...` and `"paths": [...]` is identical. It is the same as with `roles`, i.e. `groups`, `group`, `roles`, `roles` - all translates to `Roles`.

It also checks `"paths": [...]`

You would use separate `route` statements for that. This module is not a swiss knife :-)

The `**/*` is really `**`. The regexes are as follows:

https://github.com/greenpau/caddy-auth-jwt/blob/2f

[2020-10-04 23:00] #24 closed

[2020-10-05 00:33] greenpau commented on #30
will reopen it later.

[2020-10-05 00:33] #30 closed

[2020-10-05 00:34] greenpau commented on #27
No traction. closing for now.

[2020-10-06 00:19] #3 closed

[2020-10-06 00:20] #2 closed

[2020-10-08 13:41] greenpau commented on #27
Reopening the issue. I need to protect Jarvis API ... which uses GRPC ... looks like a similar use case not covered by the current implementation.

[2020-10-08 13:59] greenpau commented on #27
FMI, example of GRPC client/server: https://towardsdatascience.com/grpc-in-golang-bb40396eb8b1

[2020-10-13 14:11] zoutepopcorn opened #34 "documentation about RS tokens"
issue https://github.com/greenpau/caddy-auth-jwt/issues/1 is about implementing RS algo. In the Readme I see:
[code]
In source code:
https://github.com/greenpau/caddy-auth-jwt/blob/dab79b5570ba9b53a6d8564f494d987a7e2169bb/caddyfile.go#L50-L71

I try to make an example working, but I cant get it working to post a valid Caddyfile.... Is it possible to provide some info about it in the Readme.

Also

[2020-10-13 15:27] greenpau commented on #34
@njones , could you please help with the documentation?

[2020-10-13 15:34] greenpau commented on #34
@zoutepopcorn , what is the header of JWT token that you get?

Did this work for you?

[code]

I don't think I implemented "kid"s in Caddyfile. That might now work.

[2020-10-13 16:29] zoutepopcorn commented on #34
**header**
[code]

**Error**
[code]

[2020-10-13 17:02] greenpau commented on #34
@zoutepopcorn , I need to put a fix for this.

I think the configuration should be something like this:

[code]

Do you use `portal` plugin with `jwt` or just `jwt`?

[2020-10-14 17:35] zoutepopcorn commented on #34
I use the jwt plugin. And Keycloak will create my tokens :D

I fiddled arround with config.json for caddy with token_rsa_dir and ENV settings nothing is working. My knowledge about go is nil, so sorry I'm not able to change it..

Your proposal for the Caddyfile
[code]
Seems a perfect solution to me to include the kid.

[2020-10-14 17:57] greenpau commented on #34
@zoutepopcorn , I will try finding some time this week to get this working for you. My other [plugin](https://github.com/greenpau/caddy-auth-portal) does not issue tokens with kids. I am going to add that functionality and then will make sure that this plugin's Caddyfile works too.

[2020-10-18 00:10] greenpau commented on #34
@zoutepopcorn , I added the following documentation section. Hope it helps.

https://github.com/greenpau/caddy-auth-jwt#verification-with-rsa-public-keys

[2020-10-18 00:10] #34 closed

[2020-10-19 17:54] rayjlinden opened #35 "how to specify jwt duration?"
Is there a way to specify how log the jwt token is valid for?  I don't see mention of it in the README.

[2020-10-19 18:11] greenpau commented on #35
@rayjlinden , see token_lifetime https://github.com/greenpau/caddy-auth-portal#jwt-tokens

[2020-10-19 18:11] #35 closed

[2020-10-21 09:31] zoutepopcorn commented on #34
Great it works with Keycloak, it can check de JWT's now in the correct way :+1:

Thanks you very much.

[2020-10-26 10:36] thatnerdjosh commented on #27
@greenpau I'll take a look at this... it'll take a bit of research for me first, because my GRPC experience is severely limited

[2020-10-26 10:37] thatnerdjosh commented on #2
@greenpau I think this should still be an option of some sort, thoughts?

[2020-10-26 11:06] thatnerdjosh opened #37 "feature: Development Dockerfile.dev"
To make local development easier working on different systems (with potentially varying versions of caddy, xcaddy, etc) It would be nice to have a `Dockerfile.dev` in order to have a common image people could work off of for contributions if they'd like.

If this is desired, I volunteer to create it.

[2020-10-26 14:01] greenpau commented on #2
@thatnerdjosh , it is better if someone else would create a plugin to strip headers. It is more of `rewrite` function, i.e. outside of this plugin.

[2020-10-26 14:06] thatnerdjosh commented on #2
Agreed, sounds good

[2020-10-26 14:07] greenpau commented on #37
closing, see [here](https://github.com/greenpau/caddy-auth-jwt/pull/36#issuecomment-716564316)

[2020-10-26 14:07] #37 closed

[2020-11-03 16:57] simon-temple commented on #31
I was wondering... is there a way to configure validation via header OR query parameter?
I have a bunch of old clients and some use access_token parameter and others use Authorization headers?

Thanks

[2020-11-03 17:38] greenpau commented on #31
@simon-temple , please open a separate issue and describe your use cases there. Will help you out 😃 and it is doable.

[2020-11-03 17:44] greenpau commented on #31
@tad-lispy , @simon-temple , also, please support this project and [caddy-auth-portal](https://github.com/greenpau/caddy-auth-portal) by giving it a ⭐ and promoting it on the social media platforms you use!

[2020-11-07 10:30] jaedle opened #38 "query parameters not working on auth requests"
Hey!

I'm using `caddy-auth-jwt` to secure a combination of a SPA and a backing service. It works great, thanks for the great work!

It looks I've found an issue about the `redirect_uri`. I think the redirect uri is not url encoded which causes troubles when using query parameters.

Let's assume the following setup:
[code]

When calling `https://example.foo.bar:8443/nested/route` I am redirected t

[2020-11-07 13:09] greenpau commented on #38
@jaedle , you are missing “cookie_domain” directive. Please add. Also please move “auth” route up, i.e.  default/root should be after “auth” route”.

Please make these changes and retest.

[2020-11-07 13:09] greenpau commented on #38
@jaedle , also please use the latest release.

[2020-11-07 13:12] greenpau commented on #38
@jaedle , per your specific issue ... about query parameters is not being included, I may not be supported. Will check it later.

[2020-11-07 13:14] greenpau commented on #38
@jaedle , I will add a configuration option to allow the passing of query parameters on redirect.

[2020-11-07 13:22] jaedle commented on #38
Thanks for your feedback. I am using latest version and am Building my caddy binary through xcaddy.

I will try your changes and give you feedback, thanks!

[2020-11-07 13:27] greenpau commented on #38
@jaedle , I doubt the redirect will work as you need it to. Will look at it this weekend.

[2020-11-07 13:34] jaedle commented on #38
@greenpau when manually url encoding the redirect_uri everything works out amazingly fine.

I am using the query parameter from an external link to enter my SPA with a defined state.

[2020-11-07 13:37] jaedle commented on #38
I think I was a little unclear on that, sorry.

I want to enter my single page application by clicking a link. This link is for example `https://example.foo.bar:8443/?query=param`.
I expect to be redirected to this url when the authentication is done, but when redirecting to the auth provider the url is not encoded and the request is broken.

[2020-11-07 14:32] jaedle commented on #38
I've tried to create a minimal example to reproduce the problem.

https://github.com/jaedle/caddy-jwt-auth-redirect-example

The example provides an unprotected variant to show the expected behavior and the protected variant not working with redirects including query parameters.

if anything is unclear on this example, just give me a ping.

Thanks for digging into this! 👍

[2020-11-07 14:41] greenpau commented on #38
@jaedle , the changes to get to what you need would be here. https://github.com/greenpau/caddy-auth-jwt/blob/bf42fe83ddf73472514298fa14d77b3a37432c5a/pkg/handlers/redirect.go#L36

I am on my mobile right now, will update this issue later.

[2020-11-09 23:39] greenpau commented on #38
@jaedle , love the following shortcuts 👍

[code]

[2020-11-10 00:27] greenpau commented on #38
Note to myself ... there is a difference between `url.QueryEscape` and `url.PathEscape`. I will be implementing `url.QueryEscape` and see how it performs.

[2020-11-10 00:33] greenpau commented on #38
@jaedle , please test with `caddy-auth-jwt v1.1.9` and `caddy-auth-portal v1.2.18` and report back.

[2020-11-10 16:25] jaedle commented on #38
Great work, thanks! 👍  🥳

The. given [](https://github.com/jaedle/caddy-jwt-auth-redirect-example) works out perfectly fine.

This is where I plan to use this in production:
https://github.com/jaedle/vinotheque/blob/8d2f0a76f0117e93ee07474ca3754672b5128f82/e2e/show-wines.e2e.ts#L27

Thanks again!

[2020-11-10 16:28] jaedle commented on #38
I hope you don't pick this one up as a critic:
I would have loved to write the fix myself but when checking out your repo running a `make all` was a huge mess. If i can send along a suggestion with my regards and thanks:

Maybe think about documenting the development process for external contributors a little bit better so they know what they have to do get up to speed for development 😄

[2020-11-10 17:01] greenpau commented on #38
@jaedle , I hear you and it is all good feedback. I perform integration testing with the `portal`. I maintain `caddy-auth-jwt`, `caddy-auth-portal`, and `caddy-trace` under the same parent directory. That allows building code locally.

https://github.com/greenpau/caddy-auth-portal/blob/1b08b04f5b75796b2d6733caec862d84586e2b5f/Makefile#L18-L27

[2020-11-10 18:43] #38 closed

[2020-11-18 18:40] greenpau opened #39 "feature: add source ip address validation"
The function to get the source IP address:

https://github.com/greenpau/caddy-auth-portal/blob/1b08b04f5b75796b2d6733caec862d84586e2b5f/pkg/utils/request_id.go#L31-L51

Need to add handling of `caddyfile.go`:

[code]

Need to add the following to `Authorizer` in `pkg/auth/authorizer.go`:

[code]

Check `./pkg/config/validator.go`:

[code]

Add  the following to  `Authenticate()` in `pkg/auth/autho

[2020-11-23 01:54] kirsch33 opened #40 "Issue with custom headers"
Not sure what I'm doing wrong here, but I want to have token claim info available between each of the subdomains on my server. Below is my sanitized Caddyfile that has the relevant sections:
[code]

As you can see, I first tried just adding "enable claim headers" to the primary jwt instance but that wasnt working, so I have been trying to manually add the X-Token-Subject header to subdomain2 but c

[2020-11-23 03:09] greenpau commented on #40
@kirsch33 , let's do it one by one:

[code]

Here, you need to replace:

[code]
with:

[code]

The plugin knows how to create the redirect.

[2020-11-23 03:10] greenpau commented on #40
@kirsch33 , also, what kind of errors do you get?

[2020-11-23 03:13] greenpau commented on #40
@kirsch33 , next ... the following needs to be rewritten as:

[code]
to:

[code]

[2020-11-23 03:15] greenpau commented on #40
@kirsch33 , also, try removing `header` config. You need to go to a very basic config. Then, scale up. My concerns are `header` and `encoding`.

[code]

I think the reverse proxy needs to be inside a `route`, but I could be wrong.

[2020-11-24 01:49] kirsch33 commented on #40
Hey Paul, I have taken all of your advice including complete removal of the encoding and header sections to no avail. Here is my updated and sanitized Caddyfile:

[code]

The above Caddyfile, in my case, returns a log resembling the following when accessing subdomain2.example.net:

`{"level":"info","ts":1606113558.8473835,"logger":"http.log.access","msg":"handled request","request":{"remote_addr":

[2020-11-24 01:51] kirsch33 commented on #40
Also, I forgot to mention, as you can see it does manage to put MY_EMAIL in the common_log format of the log but thats the only place I see it--and regardless I'm not sure if thats the "enable claim headers" doing that or just default behavior considering I dont see any of the other headers such as "X-Token-Subject"

[2020-11-24 02:07] greenpau commented on #40
@kirsch33 are you able to browse subdomain2.example.net? Are you able to get to reverse proxy or you are brought back to auth endpoint?

We will get to headers later... please add ‘caddy-trace’ plugin and insert it between jwt and reverse-proxy lines. In the output, you will see the headers being passed from jwt to reverse-proxy plugins.

https://github.com/greenpau/caddy-trace

Once you collect t

[2020-11-24 02:08] kirsch33 commented on #40
@greenpau yes i am able to access and use subdomain2.example.net after authenticating via the portal. I will add caddy-trace, rebuild and follow up shortly

[2020-11-24 02:26] kirsch33 commented on #40
@greenpau well, were getting somewhere. i added this line:

`trace tag="GWS" response_debug=yes`

which returned this log line:

`{"level":"debug","time":"2020-11-24T02:18:43.622Z","msg":"debugging request","request_id":"2036a77e-c748-4445-8108-b0fb61060643","direction":"incoming","tag":"GWS","method":"POST","proto":"HTTP/2.0","host":"subdomain2.example.net","uri":"/subdomain2/rpc","remote_addr_po

[2020-11-24 02:32] greenpau commented on #40
@kirsch33 , now, what header key and values do you need to pass to reverse-proxy for your setup to work?

[2020-11-24 02:35] greenpau commented on #40
@kirsch33 , the headers you see with trace are exactly the same that are being password to the reverse proxy.

There was a similar issue [here](https://github.com/greenpau/caddy-auth-portal/issues/58#issuecomment-719130103).

The PHP backend got:

[code]

[2020-11-24 02:36] kirsch33 commented on #40
@greenpau for my current project I just need to be able to reference the current user username, so "X-Token-Subject"... but heres a related question. the documentation for caddy-auth-jwt says "the plugin passes the user identity identifier back to the Caddy server" meaning I could just set "user_identity subject" which should also make this info available, but I'm not sure how to get that working

[2020-11-24 02:50] greenpau commented on #40
@kirsch33 , I think I understood your problem... pls correct me if I am wrong.

❗  use `user_identity` Caddyfile directive.

Please read: https://github.com/greenpau/caddy-auth-jwt/blob/main/README.md#user-identity

---

@kirsch33 , upon successful authentication, the building of `userIdentity` starts

https://github.com/greenpau/caddy-auth-jwt/blob/4fe3ff57c5d73bc1f753ec477b38cbe37f99275f/pkg/aut

[2020-11-24 03:00] greenpau commented on #40
@kirsch33 , it is great that you are asking these questions! 👍 This would help building a better `README.md` file.

[2020-11-24 03:01] greenpau commented on #40
@kirsch33 , you could also create a PR and improve documentation yourself!

[2020-11-24 03:14] kirsch33 commented on #40
@greenpau  i appreciate that, because i feel like youre explaining things very well I just am so new to all of this it takes me a while to understand. once I get a grasp on things id love to help anyway I can!

its still not completely clear to me. `user_identity` is built regardless of if `enable claim headers` is specified, but is that in anyway accessible from local Caddyfile? as in, if I wante

[2020-11-24 03:40] kirsch33 commented on #40
@greenpau to expand on part 1 above...if I set `user_identity subject` inside `jwt {` for subdomain2, i can actually see the username (or subject) in the common_log section of a standard Caddy info level log line...which is why it seems like it seems like it should be accessible somehow from local Caddyfile (this is _without_ `enable claim headers`)

interestingly to get the behavior above you hav

[2020-11-24 07:49] greenpau commented on #40
@kirsch33 , this looks like a bug ... non-primary instance issue

[2020-11-24 07:50] greenpau commented on #40
header_down Custom-Username-Header {user_identity_variable_from_plugin}

@kirsch33 , idk the answer to this. This is a good question to ask in https://caddy.community

[2020-11-24 16:54] greenpau commented on #40
@kirsch33 , to sum it up. The primary `jwt` instance config does not propagate to non-primary `jwt` instance with respect to `enable claim headers` Caddyfile directive.

As a workaround, please specify it in the non-primary `jwt` instance:

[code]

Do you see the headers being passed after that change?

[2020-11-25 03:40] kirsch33 commented on #40
@greenpau i can confirm that after making that change i still only see the headers if I use the trace plugin. without trace (aka just normal caddy logs) do not show the headers.

[2020-11-25 03:52] kirsch33 commented on #40
@greenpau actually just figured out that if I set log levels to debug i can see the headers--even without trace

this can be closed at this point. thanks for hanging in there with me Paul.

[2020-11-25 10:07] #40 closed

[2020-11-25 10:09] greenpau commented on #40
@kirsch33 , any time! Will keep it open until i have a chance looking into nonprimary instance issue.

[2020-12-04 16:24] averri opened #41 "ERROR: unrecognized directive: primary"
I have created a `Dockerfile` with this module as follows:

[code]

I have the following `Caddyfile`:
[code]

When starting the referred Docker container with the above Caddyfile I get the following error:

[code]

What's wrong?

[2020-12-04 16:46] averri opened #42 "Please improve the documentation"
I could not follow any of the actual examples using Caddy v2.2.1.

[2020-12-04 17:16] greenpau commented on #41
@averri , you are using `jwt` in the global context. It need to be used inside the route. I think the following will work:

[code]

Please test and report back.

[2020-12-04 17:17] greenpau commented on #42
@averri , did you have a look in [here](https://github.com/greenpau/caddy-auth-jwt#caddyfile)?

[2020-12-04 18:46] #42 closed

[2020-12-04 21:53] averri commented on #41
Hi @greenpau, thank you for your reply.
I have tested the following code:

[code]

The following behavior is happening:

1. Access the protected domain `https://media.mydomain.com` in the browser for the first time.
2. Caddy redirects to the login url https://auth.mydomain.com/login defined in `auth_url`. (**correct**)
3. The user enter the correct credentials, the backend system generates a JWT t

[2020-12-04 22:13] greenpau commented on #41
@averri , it is hard to say, but my guess would be that token structure is not readable by `jwt` plugin. Please paste your decoded token from https://jwt.io/ here.

The tokens that work well with this plugin are generated by https://github.com/greenpau/caddy-auth-portal.

This is the structure I would have for my tokens.

![image](https://user-images.githubusercontent.com/3826416/101220571-e827308

[2020-12-04 22:15] averri commented on #41
Thanks @greenpau, this is the content of the token:

[code]

[2020-12-04 22:21] averri commented on #41
Caddy is processing the token correctly, if I hit `https://media.mydomain.com` after authentication, it works well.
The only issue is the redirect that is not working after successful authentication.

[2020-12-04 22:40] greenpau commented on #41
@averri , the redirect after authentication should be handled by “thing” that does authentication. Jwt plugin is not in play here.

Are you talking about (1) the redirect following successful authentication, or (2) the redirect to auth.example.com following failed jwt token validation?

[2020-12-06 13:23] tgelite opened #43 "Understanding token_secret and token_issuer"
Assuming the following configuration present in a Caddyfile, based on examples presented in the caddy-auth-jwt documentation.

[code]

After reading docs, previous issues here in this github, attempting to identify parallel terms in jwt documentation and guides, or looking at online jwt generators; I can not identify a good explanation for token_secret and token_issuer.  So I have a few questions.

[2020-12-06 14:03] jaedle commented on #43
I hope that some help on this is fine for you, @greenpau 😄

[This](https://jwt.io/introduction/) answers a lot of questions on token signatures.
The issuer (not 100% fit, I know) is somehow explained [here](https://openid.net/specs/openid-connect-core-1_0.html#ImplicitIDTValidation).

Long story short: It could be that an identity provider issues different tokens with the same secret (private key

[2020-12-06 14:49] greenpau commented on #43
@jaedle , thank you for background information! 👍

@tgelite , I will try supplimenting @jaedle  answer.

1. The `token_issuer` directive is unnecessary. I am going to remove it from `portal` and `jwt` plugins next week.

Initially, when creating a plugin, I create the `token_issuer` directive to see "Issuer" on a token. Over time, I understood that its useless ... Instead I started calculating the

[2020-12-06 15:01] tgelite commented on #43
This is all perfect.

Thank you very much for the overview and reference detail. I have not worked with OpenID up to this point so thanks for  the pointer on essential reading @jaedle.  Also, thank you and @greenpau for the insight into the importance of the RSA implementation for production and pointer to its.   I'll look at that next, i'm just setting up a dev environment for now.

@greenpau - R

[2020-12-06 15:18] #43 closed

[2020-12-07 23:53] greenpau commented on #43
@tgelite , @jaedle , as of [v1.3.6](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.3.6), the `token_issuer` is no longer a part of the `portal` and `jwt` plugins.

[2020-12-08 16:09] averri commented on #41
@greenpau, you are right, the backend server should be responsible for sending a redirect to the URL pointed by `redirect_url` query parameter.

Is it possible to change this name `redirect_url` to something else?

[2020-12-08 16:12] averri commented on #41
I'm closing because the root cause of the issue presented in the title of this ticket has been resolved.

[2020-12-08 16:12] #41 closed

[2020-12-15 14:40] anunayk opened #44 "Failed to parse access_token: unsupported signing method: HS512"
**Describe the issue**

Firstly, thanks for writing this plugin. I really think Caddy needed something like this. This may be an error on my part but I'm repeatedly getting

`failed validating OAuth 2.0 access token: failed to parse access_token: unsupported signing method: HS512`

Caddy successfully redirects to my identity provider (IDP), I login using my credentials, and then I get this error.

[2020-12-15 15:36] greenpau commented on #44
@anunayk , first, please move `/auth`  route prior to default.

[code]

Second, where is your token configuration under `auth_portal`?

[code]

Third, what is the OAuth2.0 provider you are using?

Also, per `<base-64 encoded>`, please read https://github.com/greenpau/caddy-auth-portal#jwt-tokens

[2020-12-15 15:37] greenpau commented on #44
@anunayk , are you sure about `<SSO domain>/.well-known/openid-configuration/`? Should it be `<SSO domain>/.well-known/openid-configuration`?

[2020-12-16 23:55] anunayk commented on #44
Thanks for pointing out the error (token configuration under `auth_portal`). I am using FusionAuth. Got it to work!

[2020-12-16 23:55] #44 closed

[2020-12-17 00:00] greenpau commented on #44
@anunayk , awesome! Please post your complete config. This way others using FusionAuth could benefit.

Also, please give a star to `portal` and `jwt` repositories! ⭐ 🌟 ⭐ It would be nice if you share your success on the social media platforms you use.

[2020-12-24 17:37] dkendall opened #45 "Using Caddy-auth-jwt as a Token Validator"
**Describe the issue**

We're currently using Caddy as a reverse proxy (see Caddyfile below). We'd like to host application help pages on the same server (perhaps with a different subdomain), but have them protected. Our application could send a Bearer <token> authorization header with every request.

Here's an example of a token:

`eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlJYeXF3eE1ZbkRxR3pRO

[2020-12-24 17:56] greenpau commented on #45
@dkendall , thank you for opening the issue!

I think you need to use https://github.com/greenpau/caddy-auth-portal here.

The `portal` plugin will authenticate you to Auth0 OAuth2.0, then it will issue its own token. That token would then work with `jwt` plugin.

Auth0 <-> `portal` <-> `jwt` <-> Your API

Please see how it is done for [Okta](https://github.com/greenpau/caddy-auth-portal#okta) and

[2020-12-24 18:37] dkendall commented on #45
@greenpau Thanks for the quick reply!

 Unfortunately, at this point, it would be too much of a pivot to use https://github.com/greenpau/caddy-auth-portal. Our application is already validating tokens. We can of course write a new API to serve up help pages; I just thought it would be cleaner to have Caddy do it.

[2020-12-24 19:04] greenpau commented on #45
@dkendall , you can do it, but you need to be able to pass PEM file to `jwt` plugin.

See here https://github.com/greenpau/caddy-auth-jwt#verification-with-rsa-public-keys

If Auth0 uses dynamic keys with refresh, then it is harder to accomplish.

[2020-12-24 19:16] dkendall commented on #45
@greenpau We haven't enabled dynamic keys or key rotation at Auth0, but we are using multiple tenants, each with its own encryption key.

For our own application, we've implemented the OIDC Connect standard, and cache the public key for each tenant. Auth0 actually provides two keys. The first is the one in use, and the second is "next up", so if public key verification fails, we can try again with

[2020-12-24 19:18] greenpau commented on #45
@dkendall , in that case, you can have multiple keys:

[code]

[2020-12-24 19:27] dkendall commented on #45
Ah, that's interesting @greenpau. Does it try each key until it finds one that works?

[2020-12-24 19:31] greenpau commented on #45
It does not have to check each of the keys. Rather, an entity issuing tokens includes `kid` inside the token.

The token you provided, has `kid` of `RXyqwxMYnDqGzQ9Rf52lm`:

![image](https://user-images.githubusercontent.com/3826416/103104343-950e2100-45f4-11eb-8d16-fd31883ead5e.png)

The configuration would be:

[code]

[2020-12-24 19:35] dkendall commented on #45
Well that would meet our current requirements. Thanks very much @greenpau. I'll give it a shot!

[2021-01-15 21:24] dkendall commented on #45
Hello @greenpau,

I installed Caddy with the plugin, and configured it, but Caddy crashes on startup. The log doesn't have anything useful. Can you offer any suggestions?

files.domain.com {
  encode gzip
  root * /home/admin/workspace/public_html
  file_server
  route /* {
    jwt {
      primary yes
      disable auth_redirect_query
      option validate_bearer_header
      trusted_tokens {

[2021-01-15 21:31] greenpau commented on #45
@dkendall , try adding `file_server` inside `route`:

[code]

[2021-01-15 21:49] dkendall commented on #45
Thanks for the reply @greenpau. That didn't fix it, but I tried generating public keys using the openssl instructions [here](https://github.com/greenpau/caddy-auth-jwt#verification-with-rsa-public-keys) and it's no longer crashing.

The `pem` files I downloaded from Auth0 don't look like the openssl files. The Auth0 files start with `-----BEGIN CERTIFICATE-----` and the openssl files start with `-

[2021-01-15 22:04] dkendall commented on #45
This fixed it:

[code]

[2021-01-15 22:12] greenpau commented on #45
@dkendall , I think

@dkendall , are you all set?

[2021-01-15 22:13] dkendall commented on #45
One more thing, @greenpau. If I access the site via a web browser (without sending a token), it redirects to `https://files.domain.com/auth`.

Is there any way to have it return a 403 instead?

I had the `disable auth_redirect_query` directive, but not the `auth_url`. I added it, but it redirects there.

[2021-01-15 22:45] greenpau commented on #45
@dkendall , please read [here](https://github.com/greenpau/caddy-auth-jwt#forbidden-access). It looks like this is what you are looking for.

[code]

[2021-01-16 00:06] dkendall commented on #45
@greenpau That sounds like it _would_ work, but I don't seem to be able to get it to work. I wasn't sure if `forbidden` wants a file path or is relative to `root`, so I tried both. It still redirects to /auth.

I suppose I could set `auth_url` to `custom_403.html`, but browser redirects are a problem because I'm using this to serve files to an application, and not a browser. The application adds t

[2021-01-16 00:36] greenpau commented on #45
@dkendall , there is no group/role information in your JWT token.

[code]

I suggest modifying your Auth0 config to include thing discussed [here](https://github.com/greenpau/caddy-auth-jwt#sources-of-role-information).

[2021-01-16 00:38] greenpau commented on #45
@dkendall , see [here](https://github.com/greenpau/caddy-auth-portal#okta) how it is done for Okta.

[2021-01-16 00:47] dkendall commented on #45
Thanks @greenpau. I'll look at adding "roles" to the token. I somehow had the idea that the plugin had default roles.

I just realized that I don't really want an invalid/missing token to result in 403 or a redirect. Our app handles a 401 by attempting to renew the access token. Is there a way to get it to return 401 instead of redirecting?

[2021-01-16 01:59] dkendall commented on #45
@greenpau Auth0 does not have a "roles" field in its auth token, and will not allow me to add one.

Auth0 has a way to add fields, using rules, but hey require that custom fields be namespaced. So using their "rules" editor, this works:

[code]
... but this does not:

[code]
They also do not include `app_metadata` in the access token. It can be added using rules, but again, it has to be namespaced

[2021-01-16 03:27] greenpau commented on #45
@dkendall , that's what you need. It could be `groups` or `roles`.  Use https://jwt.io/ to decode your tokens to see what is inside.

I don't think so.

[2021-01-16 13:37] dkendall commented on #45
I added roles, but the plugin still redirects to '/auth'. I assume it's because, as I mentioned, Auth0 requires that any custom fields have to be namespaced.

[code]

The plugin documentation [here](https://github.com/greenpau/caddy-auth-jwt#anonymous-role) indicates that the plugin defaults to `anonymous` and `guest` if no `roles` information is found in the token.

A nice solution would  be the

[2021-01-16 13:54] dkendall commented on #45
@greenpau The plugin documentation [here](https://github.com/greenpau/caddy-auth-jwt#anonymous-role) indicates that the plugin defaults to `anonymous` and `guest` if no `roles` information is found in the token, and that seems to be the case at [line 360 of pkg/claims/user.go](https://github.com/greenpau/caddy-auth-jwt/blob/70e5767345bdfef377846fb8b010f412d578bf17/pkg/claims/user.go#L360).

[2021-01-16 14:53] greenpau commented on #45
@dkendall , do you have a statement allowing anonymous?

[2021-01-16 15:41] dkendall commented on #45
@greenpau I've tried `default allow` and `allow roles anonymous`.

Is there a way to see the error that the plugin is encountering?

[2021-01-16 16:04] greenpau commented on #45
@dkendall , please post your full config.

[2021-01-16 16:54] dkendall commented on #45
@greenpau Here's the config:

[code]

Here's a bearer token:

[code]

And here's the public key for the token:

[code]

[2021-01-16 17:50] greenpau commented on #45
@dkendall , the "bearer token" could be the thing here. You config says `token_name jwt_access_token`, is the token in `jwt_access_token` cookie?

[2021-01-16 18:20] dkendall commented on #45
@greenpau the token is in the authorization header.

[code]

[2021-01-16 18:38] greenpau commented on #45
@dkendall , understood. That's why you have the below in your Caddyfile:

[code]

Please try the following configuration.

[code]

[2021-01-16 21:57] dkendall commented on #45
@greenpau These changes made a difference.

The plugin no longer redirects a valid request, and if I comment out the `RXyqwxMYnDqGzQ9Rf52lm` key, it does redirect (infinitely, since `/auth` is in the route, which I fixed below).

Unfortunately, it doesn't seem to respond if the request has a valid token. The Caddy log shows the GET request with status 0, length 0, duration 0.

You had removed the

[2021-01-17 00:59] dkendall commented on #45
@greenpau I tried sending the token in a cookie header, but the plugin didn't seem to see it (it redirected).

`Cookie: access_token={access_token}`

It seems it can also be sent as a query parameter. I tried adding `?access_token={access_token}` to the request, but again, it redirected.

[2021-01-17 16:58] greenpau commented on #45
@dkendall , based on the snippet from [here](https://github.com/greenpau/caddy-auth-jwt/issues/45#issuecomment-761685623), I think you need help with some `caddy` basics.

[code]

The `header`, `respond` and `jwt` are plugins associated with `/help/*`.

Two important things:

1. The plugin are being applied sequentially to a request.
2. The `respond` plugin is what is called "terminal" client. It

[2021-01-17 19:03] dkendall commented on #45
@greenpau I moved the plugin to the `/help/*` route so that the redirect to `/auth` won't call the plugin (which was causing a redirect loop). The files I want to protect are in the /help/ folder.

Because our web app is on a different server than the back end, CORS comes into play.

The browser sends an OPTIONS request before sending the GET. The OPTIONS request is used to get communication optio

[2021-01-17 21:43] greenpau commented on #45
@dkendall , thank you for the explanation! I guess I need some schooling. Pretty neat 👍 thank you!

[2021-01-17 21:50] dkendall commented on #45
@greenpau No problem! I've cloned the Caddy-auth-jwt repo and installed Go. I'll let you know if I can figure out what's going on.

[2021-01-17 22:08] greenpau commented on #45
@dkendall , look at the Makefile. It will guide you.

regardless, I will write a developer guide on how to test and experiment with the plugins.

[2021-01-23 19:27] dkendall commented on #45
Hey @greenpau. I found the issue, fixed it, and opened a Pull request.

The Auth0 token has an array for the "aud" claim, but the plugin was expecting a string.

[2021-01-24 00:27] dkendall opened #47 "New options to disable redirect and deletion of auth cookies"
We're using Caddy with the caddy-auth-jwt to protect files that are consumed by our application.

If a token is expired, we see the 401, refresh the token, and try again.

Because caddy-auth-jwt redirects, we don't get the 401. Moreover, the redirect is not a valid response when CORS is in effect (the GET request was made from a different server). A cross-site scripting error is logged.

I propose

[2021-01-24 00:36] dkendall opened #48 "Allow/deny audience and scope"
@greenpau I have implemented support for the Caddy options shown below.

**Configuration**

Paste full `Caddyfile` below:

[code]

**Version Information**

Provide output of `caddy list-modules -versions | grep auth` below:

[code]

**Additional context**

The `allow audience(s)` option lets you specify one or more audiences that appear in the token "aud" field. This field can be an array or a spa

[2021-01-24 16:14] dkendall commented on #47
@greenpau On 2nd thought, rather than adding a `disable delete_auth_cookies` option, the plugin can simply delete the auth cookies that were sent in the request.

[2021-01-26 12:09] adlibdalom opened #49 "Google oauth2 picture url"
**Describe the issue**
I was previously using the jwt and auth plugins for Caddy v1 and they eventually worked really well, when I got the configuration right in the end. One of the things I got through the authorization framework in v1 was an URL to the user's profile picture as part of the jwt. Now when using this and auth portal, I'm not getting that information. Is there a configuration part s

[2021-01-26 16:44] greenpau commented on #49
@adlibdalom , thank you for opening the issue. This feature is not a part of authorization plugin.

Are you asking for the picture URL to be a claim within JWT token issued by the `portal` plugin?

[2021-01-26 18:28] adlibdalom commented on #49
Ah, yes, I’m so new to all this, so you’re most likely right. Sorry for the confusion.
I remember parsing the cookie in JavaScript to extract the profile picture url to display the logged on user’s picture to them, which looked kind of neat.

[2021-01-26 19:33] greenpau commented on #49
@adlibdalom , what you can do is go to “/whoami” endpoint in the “portal” plugin. You can request JSON output and it will return the information necessary to create a user card.

[2021-01-26 19:34] greenpau commented on #49
It does not support avatar yet, but your javascript could pull the image from Gravatar.

[2021-01-27 06:36] adlibdalom commented on #49
Yeah, I get that, but the jwt from the v1 version got a ‘picture’ claim with an URL, and with the new one it seems to be missing, so I think there’s something different with the claims.
https://github.com/tarent/loginsrv/blob/7a8566d795ccd0337dbd35078817f06ae5edccb1/model/user_info.go#L10 indicates this somewhat with the UserInfo object.
Are you saying all this info is available somewhere already?

[2021-01-27 13:28] adlibdalom commented on #49
Hello again.
https://developers.google.com/identity/protocols/oauth2/openid-connect#discovery points to `picture` within the `claims_supported` section in the code, so what I can't seem to figure out is how to have that claim be ”included” in the resulting jwt cookie, as it previously was with the loginsrv/caddy1 solution I employed.

[2021-01-27 13:41] adlibdalom commented on #49
And hello again … 😛
My very basic knowledge of programming in general, and Go in particular, would imagine that [this](https://github.com/greenpau/caddy-auth-jwt/blob/main/pkg/claims/user.go) section with the claims part could be changed to include a picture claim on a google backend, but I might be way off.

[2021-01-30 18:21] #45 closed

[2021-01-30 18:22] dkendall commented on #47
https://github.com/greenpau/caddy-auth-jwt/pull/46

[2021-01-30 18:22] #47 closed

[2021-01-30 18:22] dkendall commented on #48
Implemented by https://github.com/greenpau/caddy-auth-jwt/pull/46

[2021-01-30 18:22] #48 closed

[2021-01-30 18:28] greenpau commented on #48
@dkendall , please ping me on LinkedIn. Let's keep in touch!

[2021-01-30 18:38] greenpau commented on #49
@adlibdalom , I understand the ask and still thinking how I can get it to you. The difficulty is to fit this particular ask into a "big picture" of all other providers and plugins.

Yes, `picture` is part of the standard claims: https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims

[2021-01-30 18:39] greenpau commented on #49
@adlibdalom , another question. What is the issuer of your JWT tokens? Do you use `caddy-auth-portal`?

[2021-01-30 18:41] greenpau commented on #49
@adlibdalom , also, what application component reads the avatar URL? javascript, middleware, etc. Any screenshots?

[2021-02-01 09:28] adlibdalom commented on #49
Yeah, I'm using `caddy-auth-portal`.

I'm using the caddy directive `templates` and some `javascript` code to set a variable with the jwt-info which I then parse and ”apply”.
[code]

[code]

[2021-02-11 15:01] rennu opened #50 "Panic: Interface conversion: interface {} is []interface {}, not string"
**Issue**

I'm trying to authentication by using at+jwt token but caddy panics (see stack below). Is this even supported (am I doing it wrong?)?

**Configuration**

[code]

**Version Information**

[code]

**Log output**

[code]

[2021-02-11 15:53] greenpau commented on #50
@rennu , did you review https://github.com/greenpau/caddy-auth-jwt#verification-with-rsa-public-keys ?

Next, please paste the content of `idp_public.pem`.

Did you try full path to the pem file?

It is supported per the doc above. I suspect your `.pem` file does not parse well.

[2021-02-12 08:32] rennu commented on #50
Hi,

Yes, I followed the instructions except for the key creation part, since those are supplied by the existing system. I've also tried using a full path to the file but it didn't change anything.

Here's the public key:

[code]

I assume the plugin tries to verify the token after reading exp and making sure that the token isn't expired? I tried to replicate the problem before replying but with e

[2021-02-12 14:17] greenpau commented on #50
@rennu , the plugin supports the following:

https://github.com/greenpau/caddy-auth-jwt/blob/2363a4362fa17513fb62e30b3b820227427f092d/pkg/config/methods.go#L19-L24

This error might mean that something is wrong with that pem file.

On its face I can unpack it.

[code]

Next step, please paste here the token you pass to the plugin to validate. That's necessary to check that the kid the token carrie

[2021-02-12 14:27] greenpau commented on #50
@rennu , last release adding new changes. Could you please try changing to `v1.2.3`? I want to see whether you experience the same issue.

Please use https://jwt.io/ to convert your token to human readable form. I just need "header" and "payload".

[2021-02-12 15:17] greenpau commented on #50
@rennu , when you get the panic? during startup or when token validation happens?

[2021-02-12 16:34] rennu commented on #50
Hi,

1.2.3 panics too (the stack is pretty much 1:1). I had to modify Caddyfile a bit because some of the features weren't available in 1.2.3 (see below).

The panic happends at validation.

[code]

Token (using jwt.io)

**header**:
[code]

**payload**
[code]

[2021-02-13 01:40] greenpau commented on #50
@rennu , found the issue. Will explain tomorrow. Do you have control over the issued token, specifically “name” field.

[2021-02-13 01:51] greenpau commented on #50
@rennu , the name field in the token is expected to be a string. In your token, it is an array of strings, i.e. your email and name. I can fix this problem by returning a concatenated string from an array, or you can fix the name field to only include a string.

with that said, I need to improve the error handling in that function.

[2021-02-13 12:49] rennu commented on #50
@greenpau Oh, I see. No idea why name field would include email address anyways since it has it's own field. I'll ask if it's possible to change it to an actual name string.

[2021-02-13 17:56] greenpau commented on #50
@rennu , I will put a patch to allow you to use your current token "as is". Will happen today. Will keep you posted.

[2021-02-13 18:07] greenpau commented on #49
@adlibdalom , I am adding the parsing of `picture` in this plugin. and will make it available in `portal` plugin too.

[2021-02-13 18:12] rennu commented on #50
@greenpau Wow, thank you!

[2021-02-13 18:46] greenpau commented on #50
@rennu , test with the following version `caddy-auth-jwt v1.2.5` and it should work. Please reply with results, errors, etc.

[2021-02-14 10:08] rennu commented on #50
@greenpau Hi, it works! Thank you!

[2021-02-14 10:09] #50 closed

[2021-02-15 17:49] sixtus opened #51 "One auth for several hosts in a domain?"
I am trying to run a single auth points for multiple hostnames in a domain.

[code]

seems to do the trick.

However I am running into problems with the `primary` attribute. So far no combination seems to work. Do you have a working example?

I want to secure `a.my.domain` and `b.my.domain`, for login it should redirect to `auth.my.domain/auth` - all servers are configured in the same Caddyfile.

[2021-02-15 18:22] greenpau commented on #51
@sixtus , please re-open the issue in [here](https://github.com/greenpau/caddy-auth-portal/issues/new/choose). Will help you there.

[2021-02-15 18:22] #51 closed

[2021-03-04 17:20] akvadrako opened #52 "Question: Does this work only with caddy-auth-portal or any OAuth 2.0 provider?"
This looks pretty nice but one thing that's unclear to me from the README is if this only works with `caddy-auth-portal`.

I would like to use it with an OpenID Connect provider directly to avoid the 4 redirects required when using the portal in between.

Thanks for any clarification.

[2021-03-04 18:22] greenpau commented on #52
@akvadrako ,  it can validate JWT tokens issued by other providers.

Yes. Try getting familiar with this [doc](https://github.com/greenpau/caddy-auth-jwt#verification-with-rsa-public-keys) and [issue](https://github.com/greenpau/caddy-auth-jwt/issues/45)

[2021-03-04 19:24] greenpau commented on #52
@akvadrako , also, you could have seamless proxying between `portal`'s OAuth backends and `jwt` module, i.e. the users will not see `portal` at all.

[2021-03-04 19:51] akvadrako commented on #52
Thanks, I am new to OAuth 2.0 so I didn't realize the signing key is the key to make this work. I'll try that way first since it seems similar.

[2021-03-04 19:51] #52 closed

[2021-03-04 20:07] greenpau commented on #52
@akvadrako , fyi, some providers rotate keys (e.g. Google OAuth). In that case `portal` is your best bet.
Good luck exploring! Please don't hesitate asking questions.

[2021-03-06 22:39] greenpau commented on #49
@adlibdalom , I am implementing the change for the picture. You would need to set scope as `scopes openid email profile` (the way you had it would not work). Will update the issue shortly.

[2021-03-06 22:56] greenpau commented on #49
Will update the issue with the new `portal` version today.

[2021-03-06 23:11] greenpau commented on #49
@adlibdalom , the `picture` is available in https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.4.4

[2021-03-06 23:11] #49 closed

[2021-03-07 06:14] adlibdalom commented on #49
Nice, I just tried it and it worked straight out of the box after rebuilding with the new version, marvellous!
Thanks a bunch!

[2021-03-07 16:35] akvadrako commented on #52
@greenpau So just to report back, I was not able to get `caddy-auth-jwt` to work with an OIDC provider directly. I was trying to use [glewlwyd](https://github.com/babelouest/glewlwyd) because it seemed the like easiest to install. There were a few issues:

1. The auth endpoint can return a `code` which can be used to fetch the token, but `auth-jwt` doesn't seem to understand codes.
2. The auth end

[2021-03-07 18:37] greenpau commented on #52
@akvadrako, yes, OIDC provider will not work directly. That's why `portal` exists. You could make it completely seamless with `redirect_url` and point it to `auth/oauth/provider_name`. A user would not even notice the `portal`.

[2021-03-07 18:47] akvadrako commented on #52
I disagree they won't notice; it requires four redirects which normally will take some time.

[2021-03-08 11:28] optiz0r opened #53 "Unexpected redirect to /auth when JWT has expired"
Hi,

First up, thank you for the very useful plugins (both this, and caddy-auth-portal)!

I'm seeing unexpected behaviour around redirects after session expiration, not sure if it's a misconfiguration my side, or a bug.

- OK: When the user has no access_token cookie, a request to a protected resource issues a redirect to `/auth/auth2/generic?redirect_url=$protected`, which issues a redirect to th

[2021-03-08 11:57] optiz0r opened #54 "Use env placeholders for OIDC Client ID/Secret"
Hi,

Not sure if this is plugin-specific behaviour or a Caddy limitation.

I would like to be able to template in the OIDC client ID and secret using `{env.*}` placeholders. This would prevent the secrets needing to be persisted to disk. Currently I have env vars set at runtime, but if I try to use an env placeholder, then the literal strings `{env.OIDC_CLIENT_ID}` is being used in the authorisati

[2021-03-08 13:04] greenpau commented on #53
@optiz0r , thank you for opening the issue! This sounds like a bug. Will review and post back.

[2021-03-22 21:31] optiz0r commented on #53
From reading through the code, I think this relates to `auth_url_path`. The redirect happens here: https://github.com/greenpau/caddy-auth-jwt/blob/2cac666bfebb1c74a0c074ef6dda0359b41a1316/pkg/auth/authorizer.go#L161

I found a brief reference to this in the README:

Looks like this defaults to `/auth`
https://github.com/greenpau/caddy-auth-jwt/blob/2cac666bfebb1c74a0c074ef6dda0359b41a1316/pkg/auth

[2021-03-28 20:15] greenpau commented on #54
@optiz0r , I will be working on it sometime next week.

[2021-03-28 20:17] greenpau commented on #54
Note: per conversation with @francislavoie, he recommends. Leaving it here for the reference.

[code]

[2021-03-28 20:20] greenpau commented on #54
@optiz0r , have you tried using `{$ENV}`?

[2021-03-28 20:24] francislavoie commented on #54
To be clear, what I was saying is that `{$ENV}` will work regardless of any changes to the codebase, because it's a feature implemented in the Caddyfile adapter: https://caddyserver.com/docs/caddyfile/concepts#environment-variables

The difference is that `{$ENV}` is replaced at Caddyfile adapt time, whereas `{env.*}` is replaced at runtime, but only if the module passes configuration values throu

[2021-03-28 20:31] optiz0r commented on #54
I had not tried this, but just have and indeed it does work, thanks!

In this case, this should be fine, as the values don't change once the process starts up (and if they ever do change, the container scheduler will trigger an explicit reload anyway).

[2021-03-29 05:05] greenpau commented on #53
@optiz0r , I am guessing about this one.

Please read carefully this section: https://github.com/greenpau/caddy-auth-jwt#overview

Please ask questions if the above it unclear.

The following snippet is the "primary" for the "default" context.

[code]

The earlier `jwt` reference inherits its configuration from the above:

[code]

Enable debugging and see output for the jwt plugin.

There could be

[2021-03-29 08:29] optiz0r commented on #53
I might be misunderstanding entirely.

The way I'm using Caddy is with a container orchestrator. Jobs come and go at random, and may be opted into reverse proxying via labels. The orchestrator is writing out a caddyfile from a template, and triggering an online reload. At any given point in time, there may be zero, one or multiple sites being reverse proxied

Trying to make one (and only one) of t

[2021-03-29 11:44] greenpau commented on #53
@optiz0r , after removing placeholder block, add “primary yes” to the block jwt under whoami and retest. Since you don’t have any primary left, the plugin throws an error, because there has to be a primary in a context.

[2021-03-29 12:08] optiz0r commented on #53
whoami is not the only site block in the config file which should be using JWT, I just included that one to show the minimal reproduction case. The template looks like:

[code]

And there are multuple services, so the resulting config looks like:

[code]

If I set primary=yes inside this template block, then multiple sites get `primary=yes` and Caddy fails to start up with `error: found more than

[2021-03-29 12:22] greenpau commented on #53
@optiz0r , add "context <unique name>“ and “primary yes” to each jwt section you create. Additionally, each primary context must have a reference to how to decode jwt tokens, i.e. the reverse of portal’s JWT configuration.

[2021-03-29 14:17] optiz0r commented on #53
OK thanks - that bit is not clear from the README, there's no reference to a `context <string>` directive.

I've updated the config so that it looks like this:

[code]

And reloaded Caddy. After waiting for the JWT in my `access_token` cookie to expire (which I've set down to 30s for testing), I reloaded the page, and got redirected to `/auth` again

access logs:
[code]

error logs (grabbed from a

[2021-03-29 22:24] greenpau commented on #53
@optiz0r , what is the callback URL configured in OIDC?

[2021-03-30 07:24] optiz0r commented on #53
Callback URL is `https://auth.example.com/auth/oauth2/generic/authorization-code-callback`. The OIDC flow works fine when the user has no JWT, so I don't think there's anything wrong there. It's just that when the JWT is found to be expired, the user is directed to `/auth` instead of `/auth/oauth2/generic?redirect_url=$current_url` to restart the auto process.

[2021-04-01 03:05] SvenDowideit opened #56 "feature: `enable claim headers` without requiring authentication"
I'm trying to have a webservice fronted by caddy that works in either anonymous mode, or _if_ the user has logged in, can use their name, email and roles to add extra bits.

ideally (because these webservices are coded by other people who are in a rush, and are on internal to the cluster virtual networks), it would be nice to just use the claim headers, and for those to be filled in with "anonymou

[2021-04-01 03:13] greenpau commented on #56
@SvenDowideit , I will pick this up next week. I am working on rewiring plugins and it is a lot to do ;-)

meanwhile, please look at portal’s cookie.go files. It could be that the portal sets certain cookie options that force the browser not to submit them. I would also consider reviewing cookie_domain directive.

[2021-04-01 03:18] SvenDowideit commented on #56
oh, i wasn't specific enough - things work ok when the user has logged in (and `jwt.enable claim headers: true`)

what I can't get working, is to be able to have `jwt.enable claim headers: true` without also having caddy-auth return "Unauthorized User"

[2021-04-01 03:19] SvenDowideit commented on #56
rewriting - that sounds scary

[2021-04-01 03:25] greenpau commented on #56
@SvenDowideit , in this particular case - necessary. The code was not modular enough. Rewrite KMS handling. You can look at the latest commits. will be wiring new KMS code to portal tomorrow.

In the near future portal will be able signing tokens using multiple keys (HS, RS, ES) based on certain conditions.

[2021-04-01 03:37] SvenDowideit commented on #56
yeah, I'm just going to go on leave for 2 weeks, and worry about it later :)

[2021-04-01 03:39] greenpau commented on #56
@SvenDowideit , to clarify, you want unauthenticated users to be able to get “guest” token from portal without providing any credentials?

[2021-04-01 03:40] greenpau commented on #56
Sounds a lot like “guest” backend ;-)

[2021-04-01 03:47] SvenDowideit commented on #56
perhaps - to rephrase, I want to have a way to get whatever token info and claim headers exist for that browser session (including a guest) without forcing auth

[2021-04-01 04:34] greenpau commented on #56
@SvenDowideit , you have a user who has a cookie with JWT token, but you don’t see claims passing through to a backend?

have you tried caddy-trace plugin to debug this?

[2021-04-03 10:33] greenpau commented on #53
@optiz0r , this is a bug. I am going to address in the next couple of weeks.

what needs to happen here, is that when a portal receives redirect with an expired token, the portal should inspect the token and check whether “issuer” field. The field contains the callback URL. First, I would need to change the handling of how the field populates. Then, serve the appropriate landing page.

[2021-04-07 00:36] lbreitk opened #58 "Add Header for User ID"
Right now, there are headers for User Name, User Email, User Roles, and User Subject, but no header for the User ID. Currently, I am authenticating via oauth, which is authed against LDAP, and logging the user into netbox by passing a header. I'd prefer to use the ID they use for LDAP at the ID to identify them in netbox, however that doesn't seem to be an option.

[2021-04-07 03:17] greenpau commented on #58
@lbreitk , got it. Please ping back in a couple of weeks. Hopefully, by then I will finish my refactoring and then we can add the things you need.

it may be that the you thought about the solution solved your particular issue, but may have been an issue for others.

Consider thinking in terms of caddyfile directives. For example, here are some directives that I thought about.

[code]

Additionall

[2021-04-09 13:00] sernik opened #59 "Error during parsing: auth backend public_key subdirective has no value"
Caddy does not start `run: adapting config using caddyfile: parsing caddyfile tokens for 'jwt': /etc/caddy/Caddyfile:20 - Error during parsing: auth backend public_key subdirective /etc/caddy/01-es256-public.pem has no value`.

**Configuration**

[code]

**Version Information**
[code]

**Expected behavior**

Caddy starts fine with this configuration, without `public_key {…}` block.

**Additional c

[2021-04-09 16:26] greenpau commented on #59
@sernik , I am in the process of refactoring the plugin. The ES are not supported. Once I complete the refactoring in the next couple weeks, I will let you know and you will retry.

As to the key ID, when tokens arrive with “kid” field, the value is matched to the value of the key specified in the config. If there is no kid, kid of 0 could be assumed.

[2021-04-10 08:44] sernik commented on #59
Thank you, waiting then.

[2021-04-16 09:31] AtomBaf opened #60 "Unauthenticated POST request will be redirected with a GET (status 302)"
**Describe the issue**

When a POST request is sent, without credentials, the plugin will redirect to the auth endpoint.
The status code is 302, so the client will perform a GET request to the auth location.

**Configuration**

Any caddyfile like this one : https://github.com/greenpau/caddy-auth-jwt#caddyfile

**Version Information**

Provide output of `caddy list-modules -versions | grep auth` be

[2021-04-16 10:16] greenpau commented on #60
@AtomBaf, thank you for opening the issue. The 307 change would have to wait for my completion of the plugin rewrite (probably one-two weeks). I will post back here when I am done.

Additionally, the change will also need to add Caddy directive, e.g. `redirect <HTTP_STATUS_CODE>`.

[2021-04-16 12:31] AtomBaf commented on #60
Thx for your quick answer @greenpau
About your last sentence, do you mean that I will have to write a dedicated ```redirect``` directive for each http method? Isn't in the ```redirect.go``` that the request method could be checked and depending on it, return a 302 or 307 status ?

[2021-04-16 12:59] greenpau commented on #60
No.  By default, it would do the `302` redirect. However, that would be possible to change to any other status code a user desires, e.g. `307`, like you want.

The `redirect.go` could implement whatever logic one wants. However, the `caddyfile.go` determines which configuration options would be used. My reference was about the configuration.

[2021-04-16 23:48] greenpau commented on #60
@AtomBaf , also, thinking about POST to GET transition. It is a common practice to redirect this way, because a user will not be able to resubmit on refresh.

[2021-04-17 23:02] greenpau commented on #56
@SvenDowideit , getting back to this. Could you please let me know the following.

When a user arrives at `jwt` plugin.
1. What does the user have? e.g. token or nothing.
2. If it is a token, what are the relevant fields
3. Desired outcome? e.g. no token, automatically grant access as a specific role and add pass header `X-USER`.

[2021-04-18 23:06] SvenDowideit commented on #56
back from leave :)

Think of it like the nicest implementation of  shopping cart -

- non-authed user goes to site, adds things to cart
- user (registers if needed and) auths to see what specials they have
- cart continues as before

internally, I'd prefer if there's a jwt token, and basic fields exist, but tbh, that's something I suspect can work either way

I'd also love the portal to work for a

[2021-04-20 00:52] greenpau commented on #58
@lbreitk , I am ready to engage on this one.

Think in terms of JWT token fields and provide the instructions you want to see.

[code]

Currently, here is what is being passed: https://github.com/greenpau/caddy-auth-jwt#pass-token-claims-in-http-headers

[2021-04-20 07:53] AtomBaf commented on #60
In my case, redirecting a POST to a GET is meaningless, the HTTP client should auto-connect and auto-login without the user noticing the redirections. Most of the calls I'm doing are made with python `requests` and since the endpoints I'm calling are `POST` handlers, on a first try, I always end with `407` Method not allowed statuses.

My current workaround for now is to systematically send a `GET

[2021-04-22 14:13] greenpau opened #61 "Add bypass URI directive to Caddyfile"
The `bypass uri` directive would allow to bypass authorization for specific path.

Dev note: reuse matcher from ACL.

For example,

[code]

See https://github.com/greenpau/caddy-auth-portal/issues/122#issuecomment-824866555

[2021-04-23 17:21] lbreitk commented on #58
@greenpau Thanks for the reply! Unfortunately, I'm a Systems Engineer - my developers skills may be a bit limited to be of much more help :P But I will try to think of a good comprehensive reply :)

[2021-04-23 18:47] offgabriele opened #62 "Error during parsing: unsupported root directive: crypto"
**Describe the issue**

I'm configuring for the first time the jwt plugin but I cannot start caddy service as it throws an error every time.
This is the error log:
[code]
**Configuration**

Paste full `Caddyfile` below:

[code]

**Version Information**

Provide output of `caddy list-modules -versions | grep auth` below:

[code]

**Expected behavior**

The server should start.

What is causing the

[2021-04-23 19:51] greenpau commented on #62
@offgabriele , I am in the process of rewriting the plugin. Please use the instructions from here: https://github.com/greenpau/caddy-auth-jwt/tree/v1.2.7

The `crypto key` instructions coming out soon.

[2021-04-28 11:39] greenpau commented on #62
@offgabriele , I finished the plugin rewrite. However, did not mark it for release yet. Feel free to try it out. You would need to reread the docs. Your jwt directive may be missing “allow” directive, e.g. “allow roles viewer editor reader”. The ACL systems is much more advanced, but I did not get a chance to document it yet.

[2021-05-05 11:00] #62 closed

[2021-05-05 15:27] greenpau commented on #62
@offgabriele , were you able to test it?

[2021-05-05 15:34] greenpau commented on #56
@SvenDowideit , I like the idea of a shopping cart :-) It might make sense to add "shopping cart id" as a field in "anonymous" token.

[2021-05-08 16:04] J3m5 opened #63 "Error: Token used before issued"
**Describe the issue**

I often get the error "Token used before issued".
The JWT is issued by keycloak

**Configuration**

[code]

**Version Information**

[code]

**Expected behavior**

The error shouldn't occur

**Additional context**

Time of the keycloak container: Sat May  8 16:00:13 UTC 2021

Time of the caddy container: Sat May  8 16:00:13 UTC 2021

[2021-05-08 16:21] greenpau commented on #63
@J3m5 , the error is the result of `nbf` field having time in the future. I will look at time sync or do something to adjust the nbf field offset.

[2021-05-08 16:21] greenpau commented on #63
@J3m5 , you could try removing `nbf` field from a token and see how it performs.

[2021-05-08 16:47] J3m5 commented on #63
The jwt doesn't have the nbf field but it has those
  "exp": 1620578474,
  "iat": 1620492074,
  "auth_time": 1620492073,

 This jwt didn't trigger the error, I'll share it next time it happens.

 I must say that the frequency at which the error occur look random to me.

[2021-05-08 18:57] greenpau commented on #63
@J3m5 , I would look at ntp sync on the server.

[2021-05-08 19:07] greenpau opened #64 "feature: add support to Caddyfile json/storage"
Add support for storing/loading keys from https://caddyserver.com/docs/json/storage/

call `ctx.Storage()` in `Provision()`

[2021-05-09 11:35] J3m5 commented on #63
I've looked at it and is about synchronizing time, I thought about this, this is why I've posted the time of both servers where caddy and keycloak are running and they are already synchronized.

[2021-05-09 20:42] J3m5 commented on #63
It's happening again,
jwt:
[code]
  Caddy Date:
  Sun May  9 20:11:28 UTC 2021
  Keycloak date
  Sun May  9 20:11:28 UTC 2021

  Both synchronized at the current time

  20 minutes later, with the same token, refreshing the page, auth pass without error, refreshing again, Token used before issued, refreshing again, no error
  renewing the token, no error anymore

  Is it possible that caddy or cad

[2021-05-09 22:13] greenpau commented on #63
@J3m5 , try enabling debugging.

[2021-05-14 09:43] offgabriele commented on #62
No I am sorry I did not had the chance, I went with the version you linked me. Thank you for the effort you put in managing this plugin.

[2021-05-14 10:10] AtomBaf opened #65 "feature: handle a change of user roles"
**Describe the issue**

When a token has been generated and authentication is fine, and when some admin setup has been done elsewhere to change the roles of a user, how should we tell the plugin that the auth token should be refreshed?

**Configuration**

Any caddyfile like this one : https://github.com/greenpau/caddy-auth-jwt#caddyfile

**Version Information**

Provide output of `caddy list-modul

[2021-05-20 13:19] samhuss opened #66 "Invalid documentation for v1.2.7"
**Describe the issue**
The documentation of jwt usage doesn't match the required directives in v1.2.7

**Configuration**
    jwt {
      primary yes
      crypto key verify 0e2fdcf8-6868-41a7-884b-7308795fc286
      crypto key e1008f2d verify testdata/rskeys/test_2_pri.pem
      set auth url /auth
      allow roles anonymous guest admin
      allow roles superadmin
      allow roles admin editor v

[2021-05-20 14:49] #66 closed

[2021-05-31 15:38] sseppola commented on #66
This left me searching for a while so for anyone else who arrives here: The master branch is ahead of the latest release, so check the instructions of the release you are using.

https://github.com/greenpau/caddy-auth-jwt/tree/1f0825e606c2f6493f097ffacbaad60f42c8b61f#table-of-contents

[2021-06-01 01:05] dkowis opened #67 "Trying to use Keycloak and no roles are being picked up, ever"
I'm noticing this https://github.com/greenpau/caddy-auth-jwt#anonymous-role

Specifically:
[code]

I'm uncertain how to bypass this. Keycloak doesn't include an app_metadata in the token, nor am I particularly sure how to get it there. I assume this is an Auth0 thing, as that's the only place I found relating to this on google.

I see that it *should* find roles from `realm_access.roles` which I'v

[2021-06-01 01:22] dkowis commented on #67
Holy crap. I just figured it out.

You have to add the roles to the root of the `id_token`, not the access token. After doing that, everything was fine. I had a `realm_access.roles` but that wasn't good enough. It had to be on the id_token in here.

![image](https://user-images.githubusercontent.com/28048/120253736-c814aa80-c24d-11eb-940e-dcc292e3ae7c.png)

[2021-06-01 17:51] oscrx opened #68 "Docs mismatch"
Great plugin! I am using it for applications in my home lab. I'll sleep better knowing that none of them are directly accessible from the internet.

The problem I had was that i tried using the 'enable js redirect' flag. It is nicely documented, but the documentation on main is of course slightly in front of the latest release. Took me some time troubleshooting that.

**Configuration**

Paste full

[2021-06-01 20:09] greenpau commented on #68
@oscrx . see here: https://github.com/greenpau/caddy-auth-jwt/issues/66#issuecomment-851565741

I am in the process of changing how this api works. I will soon cut a release that would match docs.

[2021-06-01 20:18] oscrx commented on #68
Excuse me for not looking at closed tickets and wasting your time :)
And tnx again!

[2021-06-01 20:18] #68 closed

[2021-06-03 09:43] chris-rock opened #69 "Verify value of specific claim"
**Describe the issue**

I would love to verify that a specific claim with a specific value is set, otherwise I would like to deny users. I searched through the latest documentation and I could not find a definitive answer.

**Configuration**

n/a

**Version Information**

Provide output of `caddy list-modules -versions | grep auth` below:

[code]

**Expected behavior**

I am able to do simple chec

[2021-06-03 12:45] greenpau commented on #69
@chris-rock , thank you for the issue! Please provide a few examples of what you want to accomplish. I will try answering it here.

[2021-06-03 12:54] chris-rock commented on #69
I just wanted to check if the "iss" field has a specific value. Some token providers use the same public key (eg. firebase). Therefore the pure validity check of the token is not enough to ensure its an authenticated user.

[2021-06-03 13:43] greenpau commented on #69
@chris-rock , the non-released HEAD contains what you need, but it is not incorporated into Caddyfile yet.

The gist would likely be:

[code]

See here for some samples:

https://github.com/greenpau/caddy-auth-jwt/blob/23eb6ccc2226e3159b2ef3c73ebb8415e91ed3ca/pkg/acl/acl_test.go#L81-L90

The `RuleConfiguration` holds the configuration of each individual rule in an ACL.

Additionally, here is how t

[2021-06-03 19:04] chris-rock commented on #69
That is great. Thank you @greenpau No rush on this from my side.

[2021-06-08 14:07] sixtus opened #70 "xcaddy doesn't add the module"
**Describe the issue**

```$ xcaddy build --with github.com/greenpau/caddy-auth-jwt```

I tried this on several machines (linux/mac) and it just doesn't work...

**Configuration**

Clean installation of go (even remove ~/go)

**Version Information**

Provide output of `caddy list-modules -versions | grep auth` below:

[code]

**Expected behavior**

expecting the caddy-auth-jwt to be in the list

[2021-06-08 14:11] sixtus commented on #70
[code]

Could this be part of the problem?

[2021-06-08 14:15] sixtus commented on #70
Ah, https://github.com/greenpau/caddy-auth-jwt/blob/main/plugin.go#L39 - so maybe it is added, however

[code]

That was my original issue, it just looked like the module isn't added.

[2021-06-08 23:40] lbreitk opened #71 "Parse caddy http placeholders"
**Describe the issue**

The configuration file doesn't seem to parse http placeholders, as seen [here](https://caddyserver.com/docs/json/apps/http/)

**Configuration**

relevant configuration snippet (using many separate caddy files)

[code]
**Version Information**

Provide output of `caddy list-modules -versions | grep auth` below:

[code]

**Expected behavior**

The placeholder `{uri}` (or any o

[2021-06-10 20:05] sixtus commented on #70
Ah, I think that's all I need to unstuck myself:

$ xcaddy build --with github.com/greenpau/caddy-auth-jwt=.
$ ./caddy validate --config assets/conf/v2/Caddyfile
[...]
Valid configuration

Thanks, that was totally not obvious... well now it is :)

If I have time I do a PR for the readme, not promising anything.

And to answer the question: my boss hacked a sso jwt portal for his php toys and after

[2021-06-11 02:26] greenpau commented on #70
@sixtus , I just release the latest new version. Try building without the dot.

[code]

[2021-06-11 02:28] #70 closed

[2021-06-11 02:31] greenpau commented on #65
@AtomBaf, I would need to provide an API endpoint you to invalidate specific tokens.

For example, if token matches some condition and it is older than X minutes ago, then invalidate the token. It would be a "block list". Currently, I have the facilities to accomplish this.

[2021-06-11 12:49] J3m5 opened #72 "Verison 1.3.1 has a breaking change"
I just rebuild my docker images and version 1.3.1 was picked.
My config is not working anymore, and there is no warning in the readme or releases page.
The readme has not been updated to reflect the new configuration and there is no upgrade instructions.

**Configuration**

[code]

**Version Information**

1.3.1

[2021-06-11 13:14] J3m5 commented on #72
I revert back to 1.2.7 and issue is gone.
Error message was about something like the "option" config not existing .
I did not saved the message and downloading the sources take quiet some time.

[2021-06-11 14:25] DJFliX commented on #72
Similar issue for me, people using `xcaddy build --with github.com/greenpau/caddy-auth-jwt` are likely to run in to this issue as well unless they update their config or specify the specific version of `caddy-auth-jwt` that should be used. So replacing the command with `xcaddy build --with github.com/greenpau/caddy-auth-jwt@1.2.7`fixed it for me.

[2021-06-11 21:55] greenpau commented on #72
@DJFliX , how about migrating the config to the newer versiob?

[2021-06-11 22:01] AtomBaf commented on #65
that sounds perfect!

[2021-06-12 01:47] maxott opened #73 "feature: add integration with Open Policy Agent (OPA)"
Hi, I was wondering if it would be possible to delegate autz decisions to OPA similar to https://klotzandrew.com/blog/authorization-with-open-policy-agent?

Thanks

[2021-06-12 01:59] greenpau commented on #73
@maxott , post token validation, ask for authorization from OPA server? If so, then it is doable.

Also, I was actually thinking of adding various backends, e.g. RADIUS. If true, then it is related thinking.

[2021-06-12 04:50] DJFliX commented on #72
While I agree in theory, I still think that this is a plugin people 'just add' to their xcaddy build and forget about (because so far for me it has been 0 maintenance, which is a good thing). So when the config format changed in a way that makes existing config files fail (no matter how good your intentions were) people will inevitably run in to situations where they need a quick fix. And if the e

[2021-06-12 15:32] FrankCai opened #74 "xcaddy build failing with newest version"
**Describe the issue**

Building caddy inside a dockerfile with plugins fails with the version 1.3.1 and higher.

[code]
The error looks like this:

[code]

Reverting the plugin version to 1.2.7 fixes the error.

`--with github.com/greenpau/caddy-auth-jwt@v1.2.7 \`

[2021-06-14 16:27] luixal commented on #74
Just hit the same error!

[2021-06-14 16:44] greenpau commented on #74
@luixal , ack. Compile specifying the version. See the fix above.

[2021-06-14 18:37] luixal commented on #74
If I use:

[code]
I still get the error:

[code]

I need to use the previous version `@v1.2.7` for it to work.

Is that what you meant? using an older version?

[2021-06-14 20:45] greenpau commented on #74
@luixal , do not use the latest on the portal, use v1.4.6

[2021-06-14 20:46] greenpau commented on #74
And v1.2.7 for jwt plugin

[2021-06-14 20:51] luixal commented on #74
Ok, thanks.

OFFTOPIC: do you know if there's a tutorial for using this with Keycloak for securing multiple services running in docker? I'm looking for something related but do not find any really useful.

Thank you!

[2021-06-15 08:01] PhE commented on #74
Same here !

Works:
[code]

Fails:
[code]

[2021-06-17 14:19] phss commented on #58
Hey @greenpau and @lbreitk I can give it a try, if that's okay, as this is exactly what I need. I am not super experienced in Go, but sounds fun anyway. :D

[2021-06-19 01:09] maxott commented on #73
Great. Where would that plug in. Just curious to learn a bit more about all this works

[2021-06-24 13:38] greenpau commented on #72
@DJFliX , from my perspective, breaking changes are the way for users to contribute back to a project. I get the inconvenience and all. At the same time, it is a two way street. Also, I could easily squash the entire repo to a single commit 😈

[2021-06-24 13:41] greenpau commented on #72
Note for myself, the following two lines:

[code]

would become a rule:

[code]

The `validate allow_all` is no longer necessary, b/c the default is "all"

The is described in https://github.com/greenpau/caddy-auth-jwt#granting-access-with-access-lists

[2021-06-24 13:56] J3m5 commented on #72
I don't know from where you get that but it sound wrong.
It could be true at least if the breaking changes would be announced at the release time but that's not the case.

And for having users to contribute back, the best approach IMO is to propose the changes and discuss it with the users before publishing it, and not waiting for the the users services to crash and then having them here complaini

[2021-06-24 15:05] greenpau commented on #72
@J3m5 , agreed. Should have added a note about.

[2021-06-24 15:05] #72 closed

[2021-06-24 18:43] lbreitk commented on #71
@greenpau any thoughts on this? Should I post this as a request somewhere else or what?

[2021-06-24 22:25] greenpau commented on #71
@lbreitk , the reason this is unattended - I am not well-versed with placeholders. I would love to implement it, but I need some help here.

Linking #54, and  because it looks like it is a similar problem.

The challenge for me is that whatever placeholder code would do, it needs to be implemented here: https://github.com/greenpau/caddy-auth-jwt/blob/c1030cb4d89d435970fae848c97d8ae48ae0cc98/plugin

[2021-06-24 22:29] lbreitk commented on #71
@greenpau understood. Thanks for the explanation! :)

[2021-06-24 22:30] greenpau commented on #71
The reason it needs to be implemented in `plugin.go` is because all the code in `pkg` does not use caddy. It could be used with other Go frameworks, e.g. gin.

[2021-06-24 23:47] greenpau commented on #71
@lbreitk , please test this with 05f8352.

Here is my configs.

1) The following config line results in redirect `https://localhost:8443/errors/forbidden.html?referral=https://localhost:8443/goapi-dev/` (URL)

[code]

2) The following config line results in redirect `https://localhost:8443/errors/forbidden.html?referral=/goapi-dev/` (URI only)

[code]

Here is how your config might look like with

[2021-06-25 18:54] greenpau commented on #71
@lbreitk , please test, and if all is OK, close.

[2021-06-25 18:57] lbreitk commented on #71
@greenpau Thanks so much for trying to fix this for me! What's the best way to test? I tried using `xcaddy` to build a version of caddy using `--with github.com/greenpau/caddy-auth-jwt@05f83528b164ef5e7a1bcacc77a5b36087906faa` but ran into some errors. Maybe I'm missing something? Is there a better way to do this?

[2021-06-25 19:00] greenpau commented on #71
@lbreitk you could use caddy download page too. With "latest" tag. The last release has the config.

[2021-06-25 19:02] lbreitk commented on #71
@greenpau that will be *so* much easier, thanks! I go test that as soon as I get a few minutes :)

[2021-06-25 19:10] lbreitk commented on #71
Well, got it downloaded, but it seems like you changed the auth-portal config since the last time I used it? It's not liking my config now that was working previously

[2021-06-25 20:41] greenpau commented on #71
@lbreitk , that’s why I provided the replacement config.

[2021-06-25 20:42] greenpau commented on #71
See above ^

[2021-06-25 20:47] lbreitk commented on #71
Ah, I see. I guess I should post my current auth-portal config too then. The problem is, I have my config broken out in a lot of small configs - 13 some configs in my `sites-available` directory, including my auth portal config and default config, plus a few files for my includes and default snippets and what not. Hard to post the whole thing, and it all has to be sanitized before sharing.

[code]

[2021-06-26 13:40] greenpau commented on #74
The `portal` and `jwt` plugins are now in sync. The build should not fail.

[2021-06-26 13:40] #74 closed

[2021-06-26 13:58] greenpau commented on #71
@lbreitk , it is quiet simple:

[code]

![image](https://user-images.githubusercontent.com/3826416/123515316-ead78a80-d664-11eb-8582-f2bc8773239c.png)

The `crypto` part mimics https://github.com/greenpau/caddy-auth-jwt#plugin-syntax.

Please let me know if you run in issues with the above

[2021-06-26 13:59] greenpau commented on #71
@lbreitk , also, side note, I don't think the following line ever worked as intended.

[code]

I can add support for this in a future if necessary.

[2021-06-26 17:47] #67 closed

[2021-06-26 17:55] greenpau commented on #69
@chris-rock , the https://github.com/greenpau/caddy-auth-jwt/commit/20817c5c42383d90bf2cf429d88e874cde9c0903 adds Caddyfile directive for the building of complex ACLs.

Added documentation [here](https://github.com/greenpau/caddy-auth-jwt/blob/main/README.md#primer).

By and large, it is self-explanatory. However, do not hesitate to reopen this issue and ask questions.

[2021-06-26 17:55] #69 closed

[2021-06-26 18:14] greenpau commented on #54
@optiz0r , with the recent changes to configuration syntax, you would need to change.

[code]

FYI, @francislavoie gave me a few pointers on how to implement placeholders.

We will see how I can get them integrated.

[code]

[2021-06-26 18:22] greenpau commented on #54
Need to add replacers in these places:

1. https://github.com/greenpau/caddy-auth-portal/blob/c3957cd0e8fa870a86f762783ee1ec11a4c85ab9/caddyfile.go#L292-L299
2. https://github.com/greenpau/caddy-auth-portal/blob/c3957cd0e8fa870a86f762783ee1ec11a4c85ab9/caddyfile.go#L239-L243
3. https://github.com/greenpau/caddy-auth-portal/blob/c3957cd0e8fa870a86f762783ee1ec11a4c85ab9/caddyfile.go#L173-L184

[2021-06-26 18:25] greenpau commented on #54
Additionally, need to add it here:

https://github.com/greenpau/caddy-auth-jwt/blob/9676ded0e0ca1b71c6b9470da146aeac50954227/caddyfile.go#L118-L129

[2021-06-26 20:10] greenpau commented on #54
This now resolved in https://github.com/greenpau/caddy-auth-portal/commit/f7970b46232ec7846b89dc6e50a8b697f16b1bcf

[2021-06-26 20:10] #54 closed

[2021-06-26 20:49] greenpau commented on #53
FYI, started working on this one.

[2021-06-26 21:23] greenpau commented on #63
No activity.

[2021-06-26 21:23] #63 closed

[2021-06-26 21:24] greenpau commented on #39
this is now resolved. See https://github.com/greenpau/caddy-auth-jwt#ip-address-filtering

[2021-06-26 21:24] #39 closed

[2021-06-26 21:27] greenpau commented on #53
First step is that I need to start moving away from `github.com/dgrijalva/jwt-go`.

Here, I would need to preserve the found invalid token somewhere and unpack the issuer from it.

[2021-06-26 21:35] greenpau commented on #53
This is where the extracted token gets validated:

https://github.com/greenpau/caddy-auth-jwt/blob/e015954f483e26b032fa9af7b1e9a90faf57b361/pkg/validator/sources.go#L161-L169

In theory, we could add the logic of identifying issuer right here.

The next question is where do we put that URL. One choice is storing it in the `context.Context`.

Another one is adding a field to `User.Authenticator` st

[2021-06-28 02:22] #53 closed

[2021-06-28 02:35] greenpau commented on #56
@SvenDowideit , I introduced a new cookie called `AUTHP_SESSION_ID`. Could you use that to tie non-authenticated user to authenticated user?

[2021-06-28 02:36] greenpau commented on #58
FYI, starting working on this issue.

[2021-06-28 02:37] greenpau commented on #59
@sernik , the ECDSA key pair are now supported. See https://github.com/greenpau/caddy-auth-jwt#verification-with-rsa-and-ecdsa-keys

[2021-06-28 02:37] #59 closed

[2021-06-28 02:39] greenpau commented on #60
@AtomBaf , please retry what your are doing with the latest version of the plugin.

[2021-06-28 02:39] greenpau commented on #61
FYI, starting working on this feature.

[2021-06-28 02:49] greenpau commented on #73
@maxott , after the plugin authenticates a user by looking at the user's token, the plugin could pass the properties of a request to OPA server, e.g. method, path, user (if any), user agent, etc.

I am mocking the future interface. The plugin will authorize users using one of the following methods: basic auth, JWT tokens, API key (e.g. X-Token). Next it would `authorize with opa` at the address `h

[2021-06-28 10:58] optiz0r opened #75 "Parse error: acl directive "default allow" is too long"
**Description**

Upgrading my config from v1.2.7 to v1.3.9, the `default allow` option has been changed to `acl default allow` as described in the current Readme, but is no longer parsing, resulting in error `acl directive "default allow" is too long`

**Configuration**

[code]

**Version Information**

[code]

**Expected behavior**

Caddy to start up, and accept all requests to whoami vhost

**Ac

[2021-06-28 11:15] greenpau commented on #75
@optiz0r , change "acl default allow" to "always allow iss any"

[2021-06-28 11:17] greenpau commented on #75
I probably need to readd "acl default allow/deny" back. Will do a quick release.

[2021-06-28 13:53] optiz0r commented on #53
Thanks for getting to this!

I think this is working in so much as I got a response from my backend service without being left at a caddy-auth-portal view. However I am seeing some unexpected log entries in the Caddy stderr logs

[code]

The first request was me hitting the whoami service for the first time since upgrading Caddy/caddy-auth-portal/caddy-auth-jwt. I then decoded the JWT cookie, wait

[2021-06-28 14:15] optiz0r commented on #75
The below has done the trick, thanks. The Readme describes the catch-all permit as being `acl default allow`, so if you don't bring this option back (favouring the more explicit rule), then the Readme would need to be updated instead.

[code]

[2021-06-28 14:26] greenpau commented on #75
@optiz0r , thank you! I am bringing it back. Once again, thank you for reporting! 👍

[2021-06-28 18:04] lbreitk commented on #71
I've got almost all of this working, but I'm running into more issues. It feels like your documentation isn't matching the current state of the modules, which is a bit frustrating. Now I'm getting errors that I apparently I *have* to have an "allow" rule in my default JWT config, which I don't want - I want all my sites to default to deny access and have a per-site role access. README.md says that

[2021-06-28 19:04] greenpau commented on #71
@lbreitk , have you tried this?

[code]

[2021-06-28 19:08] lbreitk commented on #71
greenpau, I appreciate your help, as always, but I'm confused how that helps? I have a ton of sites, that's why I made a dedicated default configuration rather than making any one of the sites the "primary".

I'm using the config you posted here: https://github.com/greenpau/caddy-auth-jwt/issues/71#issuecomment-868057155 for the "default" site config, it defines the primary jwt

[2021-06-28 19:45] greenpau commented on #71
@lbreitk , forget about the `primary` because yo already have one.

Now, based on your initial config the `reverse_proxy` will be triggered prior to `jwt` plugin and therefore the `jwt` plugin would not be able to intercept a request prior to its reaching `reverse_proxy`. Are we in sync on that point?

[2021-06-28 19:48] greenpau commented on #71
@lbreitk , what is the error you are getting?

[2021-06-28 19:49] greenpau commented on #71
@lbreitk , I think it lets user in because of what I mentioned in https://github.com/greenpau/caddy-auth-jwt/issues/71#issuecomment-869979702

[2021-06-28 19:50] lbreitk commented on #71
do I just need to switch the lines around in the config then? It worked in the previous version

[2021-06-28 19:50] lbreitk commented on #71
@greenpau thanks for being so helpful by the way. I appreciate it. I did try to read all the documentation and readmes BEFORE asking for help.

[2021-06-28 19:55] greenpau commented on #71
@lbreitk  , all good! 👍

My understanding is that prior `jwt` plugin needs to be mentioned prior to `reverse_proxy`, and that they need to be under the same `route` directive.

[code]

The `route` above is the catch all. Basically, everything would end up there.

[2021-06-28 19:57] greenpau commented on #71
@lbreitk , also, there is explicit default deny, unless "default allow" is being set.

[2021-06-28 19:57] lbreitk commented on #71
I will try this next thank you!

Ah, this is good to know, thanks :)

[2021-06-28 20:06] lbreitk commented on #71
@greenpau okay, after all of your help, everything is working, including the original change this thread was for. Thanks so much!

[2021-06-28 20:20] greenpau commented on #71
@lbreitk , awesome! Great to hear! Please share your usage of Caddy and jwt plugin in a blog post or make a mention of it on social media.

[2021-06-28 20:20] #71 closed

[2021-06-29 00:17] #75 closed

[2021-06-29 12:53] AtomBaf commented on #60
thx for your response @greenpau, but sorry, looking at this line https://github.com/greenpau/caddy-auth-jwt/blob/main/pkg/handlers/redirect.go#L40 I cannot see how the plugin can send anything other than a `302` status code. Is there something I'm missing?

[2021-06-29 12:56] greenpau commented on #60
@AtomBaf , at the moment, I am still trying to understand the issue here. The first step is having up-do-date plugin and visible config. Then, I would need a diagram (https://www.diagrams.net/) of how you think it should work.

[2021-06-29 13:29] AtomBaf commented on #60
Hi

This is what is happening today:

[code]

You can see in this sequence that the original `POST` request is finally transformed into a `GET` request (Step 2 & 3).

I would like the JWT plugin to return a `307 Temporary Redirect` status code instead of the `302 Found`.

As stated [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/302), when sending a `302`code, the client might chan

[2021-06-29 14:18] greenpau commented on #60
@AtomBaf , what is the type of backend, i.e. OAuth, SAML, etc.?

[2021-06-29 14:40] AtomBaf commented on #60
Custom webserver, handling authentication with corporate SSO/kerberos.
The initial POST request is just a random request to the backend, without any credential. I would like the authentication mechanism to automatically handle all the sequence.

[2021-06-29 14:55] greenpau commented on #60
@AtomBaf , I will add a configuration option for this.

need to add the option here:

https://github.com/greenpau/caddy-auth-jwt/blob/30c48c870a68107a7808cde808b3e3453be9c762/pkg/authz/authorizer.go#L157-L158

and take into account and return proper status code on redirect.

https://github.com/greenpau/caddy-auth-jwt/blob/4f3e27a82d06c36bff4559ec000005393a08795e/pkg/handlers/redirect.go#L44

Add t

[2021-06-30 00:29] #60 closed

[2021-06-30 00:29] #61 closed

[2021-06-30 22:57] #58 closed

[2021-06-30 22:58] greenpau commented on #58
@lbreitk , @phss , this is now working. See [docs](https://github.com/greenpau/caddy-auth-jwt#custom-headers).

[2021-07-02 01:18] SvenDowideit commented on #56
maybe - I'm about to change jobs tho, so I'm not sure I'll have time to migrate the running systems from the previous code, to your new stuff, and then test this - lots of Docs to write.

[2021-07-03 00:41] golgeek opened #77 "PR: feature: Implement caddyfile.Unmarshaler interface"
The PR #76 brings the implementation of the `caddyfile.Unmarshaler{}` interface to `caddy-auth-jwt`.

The same logic as [this PR](https://github.com/greenpau/caddy-auth-portal/issues/149) was applied and func `parseCaddyfile` was split into two subs:
- `parseCaddyfile` creates an instance of `authz.Authorizer` by parsing the Caddyfile format
- `getMiddlewareFromParseCaddyfile` wraps it in the `cad

[2021-07-03 01:18] greenpau commented on #77
@golgeek , thank you! 👍

[2021-07-03 01:18] #77 closed

[2021-07-06 19:01] lbreitk opened #78 "question: High Availability"
I don't know much about JWT, so I'm just wondering - how will this work if I have multiple instances of caddy using the same config? Will a JWT token issued by instance 1 work if the user gets load balanced to instance 2?

[2021-07-06 19:06] jaedle commented on #78
Just make sure to sign the JWT with the same secret (Key/Passphrase), then everything should be fine.

Afaik this plug-in is stateless. Even a restart of your caddy server should be no problem as the token verification is solely done based on the token sent and not on any state.

As JWT are used for authentication purposes on high scale systems (i.e. google auth) this should be no problem 🙃

[2021-07-06 19:08] lbreitk commented on #78
awesome, thanks for the quick explanation! That's good to know :)

[2021-07-06 19:09] jaedle commented on #78
I’m just a user. I guess @greenpau can give more insight.

[2021-07-06 20:12] greenpau commented on #78
@jaedle , thank you for your help!

@lbreitk , i will attempt recording a Youtube video with an explanation.

[2021-07-06 20:13] lbreitk commented on #78
You guys are the best, thanks :)

[2021-07-13 12:44] lorenzodonini opened #79 "feature: custom claims conditions"
**Describe the issue**

Hey and thanks for developing this plugin, great job!

While upgrading from the old [caddy-jwt](https://github.com/BTBurke/caddy-jwt) plugin, I realized that the new plugin does not offer ACL conditions for [custom claims](https://auth0.com/docs/tokens/json-web-tokens/json-web-token-claims#custom-claims).

The snippet I pasted below won't work, as ACLs currently rely on a [

[2021-07-14 11:29] greenpau commented on #79
@lorenzodonini , thank you for opening the issue!

This is a good issue to raise! It comes down that caddy-auth-jwt relies on an external library to perform token signing and verification. As part of the verification, the data is being unpacked to usr.User.Claims that does not support arbitrary fields. I want to keep that data structure. I have no control of the external library's API. So … need c

[2021-07-14 15:01] lorenzodonini commented on #79
Yes, I've been looking through the source code and noticed that you are unpacking the claims into your own data structure.

I see that you are retaining the `app_metadata` field entirely https://github.com/greenpau/caddy-auth-jwt/blob/6e61653f032f45d8b44614a942af33df259d58a7/pkg/user/user.go#L102.
So maybe, if a field is not found within the `inputDataTypes`, as a fallback you could look for custo

[2021-07-14 16:07] greenpau commented on #79
@lorenzodonini , i created and commented out some code in the preparation for the support of non-standard (arbitrary claims). It is in user.go. Stay tuned.

[2021-08-16 13:23] greenpau opened #80 "feature: negative matches"
I want to be able to handle inverse matching in transforms.

1. If email field exists in the data, and it does not match, the condition is satisfied and the `authp/test` role gets added.
If the field does NOT exist, then it is also a match!

[code]

2. The condition is NOT satisfied when any:
  * email field does not exists in the data
  * the value of the email field matches

[code]

[2021-09-02 18:32] dfoster42 opened #82 "redirect query parameter Commented Out"
https://github.com/greenpau/caddy-auth-jwt/blob/42e3bc1519930eb69cca0baab817c372877f0224/caddyfile.go#L309

Is it purposeful that this parameter is commented out and thus not supported?  The readme has documentation on using it.

[2021-09-02 19:59] greenpau commented on #82
@dfoster42 , see https://github.com/greenpau/caddy-auth-jwt/pull/81

I didn't have time to look into it yet. Will let everyone know shortly.

[2021-09-03 20:00] greenpau commented on #82
@dfoster42 , it was commented out by mistake.

[2021-09-08 23:23] greenpau commented on #82
@dfoster42 , resolved and released

[2021-09-08 23:23] #82 closed

[2021-10-03 12:31] CaringCat opened #83 "Failback to HTTP Basic authentication when client doesn't support jwt?"
Hi,

I am wondering if it's possible to allow client to use HTTP Basic authentication when it doesn't support jwt?

I have a WebDAV service and would like to utilizes the convenient of caddy-auth sso when using a web browser, however most WebDAV client doesn't support cookies or jwt, and relies on HTTP Basic authentication. Is it possible to config it to work with both situation?

Best wishes.

[2021-10-03 15:32] greenpau commented on #83
@CaringCat , i think you might be able to get it working. Do you have a basic config for your caddy instance?

[2021-10-03 19:14] CaringCat commented on #83
Thanks, I am currently running with the following Caddyfile:

[code]

I figure to achieve my goal, I might need to disable auth redirect, and use ACL to allow anonymous role to continue? However I am too dumb to figure out the ACL part in document.

[2021-10-03 19:53] greenpau commented on #83
@CaringCat , try setting the below

set auth url https://auth.example.com/basic/login/local

this way a user will be redirected to basic auth endpoint.

see if this helps. It is a special endpoint for basic auth for “local” realm.

[2021-10-03 20:26] CaringCat commented on #83
It will work for web browsers, however won't work with WebDAV client.

I have tested on Microsoft-WebDAV-MiniRedir and WinSCP and both failed.

[2021-10-04 14:46] greenpau commented on #83
@CaringCat , have you considered matching user agent in a request, i.e. match webdav client user agent strings?

[2021-10-04 19:01] CaringCat commented on #83
I was thinking about some kinds of acl and basicauth combination, so for visitpr with authp/user role, go directly to next directives. For visitor with anonymous/guest role, process them to a basicauth directive.

Is this possible to config?

[2021-10-04 19:41] greenpau commented on #83
@CaringCat, I suggest you create a special host to handle webdav clients where you use Caddy's default basicauth. I suggest asking at https://caddy.community/

[2021-10-04 20:04] CaringCat commented on #83
Okay, thanks!

[2021-10-04 20:04] #83 closed

[2021-10-05 18:30] timokroeger opened #84 "IPv6 address truncation in JWT"
**Describe the issue**

From the '/whoami' page
[code]

**Version Information**

[code]

**Expected behavior**

Full IPv6 address available in the token.

[2021-10-05 19:14] greenpau commented on #84
@timokroeger , thank you for the issue! 👍

[2021-10-13 18:17] silvajp2 opened #87 "Panic when using jwt + websocket"
**Describe the issue**

Getting a Panic when using jwt + websocket. Using google oauth2 backend.

**Configuration**

[code]

**Version Information**

Provide output of `caddy list-modules -versions | grep auth` below:

[code]

**Expected behavior**

Authorization to proceed the same as for other http requests.

**Additional context**

Full debug line
[code]

[2021-10-14 03:12] greenpau commented on #87
Downloaded `websocat` on the same host:

[code]

Started listening:

[code]

The sending and receiving worked fine without proxy:

[code]

[2021-10-14 03:50] greenpau commented on #87
@silvajp2 , please add caddy-debug plugin, get to the panic, and upload the logs in txt file here.

[2021-10-14 03:51] greenpau commented on #87
Reading the relevant RFC: https://tools.ietf.org/id/draft-ietf-sipcore-sip-websocket-05.html#rfc.section.3

[2021-10-20 00:10] greenpau commented on #87
@silvajp2 , idk.  There could be something where the websockets provide a channel to non-HTTP requests. In that case, perhaps, the plugin behaves differently and panics. I don't have a way to reproduce.

[2021-10-20 00:10] #87 closed

[2021-10-20 00:16] greenpau commented on #84
Note: need to look into `GetSourceAddress()` from `pkg/utils/address.go`. This is what populates the `addr` field in the token.

[2021-10-20 01:06] greenpau commented on #84
@timokroeger , please test with the new release https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.4.26

[2021-10-20 01:10] greenpau opened #88 "feature: create/verify PASETO tokens"
This issue tracks the development of support for PASETO tokens.

[2021-10-20 01:29] greenpau commented on #88
RFC: https://tools.ietf.org/id/draft-paragon-paseto-rfc-00.html#rfc.section.1.1

[2021-10-29 23:54] greenpau commented on #64
@c-nv-s , I don't know yet. I will try doing research in the comments below. Generally speaking, we could load files from Caddy `storage` and then use them if Caddyfile path from below matches the path the files exists in remote `storage`, e.g. Redis cluster.

[code]

[2021-10-30 00:00] greenpau commented on #64
## Research Notes

The `ctx.Storage()` mentioned in the issue is actually `certmagic.Storage`: https://github.com/caddyserver/caddy/blob/1e218e1d2e3986b7cc1cd7335b43f11a4f194b6e/modules/caddytls/storageloader.go#L48-L52

The `certmagic.Storage` is an interface. It is described here: https://pkg.go.dev/github.com/caddyserver/certmagic#Storage

The `List` method would allow to fetch keys recursively

[2021-10-30 16:41] greenpau commented on #84
@timokroeger , found the issue in `portal` and fixed it. please test it with v1.4.27 of `portal`.

[2021-10-31 20:25] timokroeger commented on #84
v1.4.27 fixes the issue. I can see the correct IPv6 address, thank you!

[2021-10-31 20:25] #84 closed

[2021-10-31 23:39] greenpau commented on #84
@timokroeger , thank you for testing! 👍

[2021-11-06 13:58] greenpau commented on #78
Closing this issue. It is related to https://github.com/greenpau/caddy-authorize/issues/64. Generally speaking, there is a way to configure `caddy` to load keys from a shared source, i.e. can share it via:

- Local File System
- AWS DynamoDB
- AWS S3
- Redis
- Hashicorp Consul

I am working towards making this a reality in `caddy-authorize` plugin.

[2021-11-06 13:58] #78 closed

[2021-11-06 14:12] greenpau commented on #64
FYI, added a standalone instance of Consul for the development of the integration.

# Standalone Consul Instance

Install `consul` as `root`:

[code]

The installed consol has the following relevant `systemd` configuration.
Note the `/etc/consul.d/` directory.

[code]

Next, add the following to the end of `/etc/consul.d/consul.hcl`:

[code]

Finally, start `consul` service:

[code]

The UI is acc

[2021-11-06 14:18] #56 closed

[2021-11-11 05:46] porjo opened #89 "panic on empty config"
Using the following Caddfile:
[code]
Then attempt to connect to https://localhost:4443, I see this in the log:

[code]

**Version Information**
[code]

**Expected behavior**

I expected to see an error message about missing/incomplete config, however there is no error. Also, panic should not be occurring regardless of missing error.

[2021-11-11 14:46] greenpau commented on #89
@porjo , thank you for the issue! I think it is working as designed.

Per https://authp.github.io/docs/authorize/arch, "A plugin MUST have a primary instance in an authorization context."

A plugin instance is a mention of plugin "trigger" keyword in a config, e.g. "authorize" tells caddy to instantiate a single instance of plugin.

Now, let's expand you config:

[code]

How many instances of `aut

[2021-11-11 21:48] porjo commented on #89
Thankyou for taking the time to explain. I'm approaching this as a user rather than a developer. My use case is to put a simple auth layer in front of Kibana, and was looking for the simplest configuration to enable that. I was reading the doco and seeing snippets of config and trying to piece these together. I now see you have provided complete Caddyfiles in the Git repo. For me, these are the mo

[2021-11-11 21:48] #89 closed

[2021-11-11 23:20] greenpau commented on #89
@porjo , thank you! 👍 I will add a todo for this.

[2021-11-23 04:51] connordeckers opened #90 "question: Accept Basic auth if found in request headers"
When using this for authorizing a `reverse_proxy`, some services are built to work with `Basic` auth (inc. additional services that integrate with said service).

For example, Transmission only supports Basic auth as a login system (or none at all). As this is the expectation, any services that interact with Transmission will expect that, if they authenticate, it's via `Basic` auth.

As I can't ha

[2021-11-23 15:28] greenpau commented on #90
@connordeckers, kudoz for reading and educating yourself on the subject 👍

I could add basic authentication, but it would not send [`WWW-Authenticate: Basic`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/WWW-Authenticate) to the requester.

Would work for your use case?

Alternatively, we could parse User-Agent and determine the clients that do not support redirects.

[2021-11-28 19:16] rochdev opened #91 "breakfix: Roles with spaces in their name are ignored."
**Describe the issue**

Using roles with a space in their name results in the role being ignored and Caddy reporting `user role is valid, but not allowed by access list`. It's unclear if spaces are replaced by another character by this plugin. I tried without the space and got the same result.

**Configuration**

Paste full `Caddyfile` below:

[code]

**Version Information**

Provide output of `ca

[2021-12-04 10:44] connordeckers commented on #90
Apologies for the massive delay! I ended up making a bit of a hack, using the following block:
[code]

It's not entirely ideal, but it works for the moment. If there was a way to use authentication (so that it's not set up so that anyone who knows it's there can interact with that URL), that would be awesome!

The way I'm envisaging it is:

- User navigates to URL in browser
- Caddy notes that no

[2021-12-04 14:26] greenpau commented on #90
@connordeckers , please paste your config here (or create a gist with the config) and I will show you how "wrangle" it!

[2021-12-04 14:32] greenpau commented on #90
@connordeckers , also, add [`caddy-trace`](https://github.com/greenpau/caddy-trace) plugin and provide an output for the Transmission client connection. You will see the User-Agent in there.

[2021-12-13 11:42] andoks opened #92 "feature: forcibly close websocket connections with expired jwt token"
During testing I discovered that websocket connections proxied by Caddy and authorized by caddy-authorize, established before token expires, are not closed by caddy upon token expiration. I suspect this could be exploited by an attacker that is able to steal a token, to establish a long-living connection to any back-office service protected by Caddy/caddy-authorize.

I got around this by enabling

[2021-12-13 15:14] greenpau commented on #92
@andoks , I think it is how Caddy works. The `authorize` plugin (any authorization plugins) do not keep track of the open connections. Thus, will not be able to terminate one.

However, are you doing the following in your configs? This will make sure that the hijacked token will not be accepted if the requester has ip address different from the one in the token.

auth portal:

[code]

authorize:

[2021-12-13 15:40] greenpau commented on #92
There is "unconventional" way to terminate websocket connections when the token expires.

1. At the beginning of connection, we can get  source IP address and port
2. The plugin maintain authorized connection tables: `src-ip-port => time`
3. When an entry in the table has expired `time`, the plugin makes a kernel call to terminate the connection.

The above is doable in Linux.

[2021-12-14 08:18] andoks commented on #92
@greenpau,

That makes sense, especially since websockets probably has some connection state (and definitely could be tied to state in the applications' business logic), meaning both client and server should be involved in closing such connections (at least the server).

No, not currently, but I should definitely consider doing this.

That seems like an interesting avenue for a possible solution.

[2021-12-14 13:43] greenpau commented on #92
@andoks , good question though! 👍 Will re-open it when a need arrives.

[2021-12-26 16:08] Haydnspass opened #93 "question: Authorisation based on token subject plus reverse proxy"
Hi,
I hope this question is in scope:
I would like to set up a very simple caddy server in which a user authorizes using a JWT token (issued by AWS cognito) and is then reverse proxied to a specific server (because the server with the actual content that the user is referred to does not offer anyauthentication/authorziation).
In my case, the mapping user to the server is 1:1 but I guess that does

[2021-12-26 18:10] greenpau commented on #93
@Haydnspass , yes 😄

Now, please provide your config where everything is being redirected to a single reverse proxy. Then, I will modify your config to do what you want.

Hint: pass JWT token fields in headers. Then match on the value of the headers to redirect to a specific reverse proxy.

[2021-12-26 18:12] greenpau commented on #93
About the headers: https://authp.github.io/docs/authorize/headers#pass-jwt-token-claims-in-http-request-headers

[2021-12-26 22:15] greenpau commented on #93
Let's take the following onfiguration as an example:

[code]

The `assetq.myfiosgateway.com` hosts AuthDB Angular app.

Upon my successful authentication to auth portal, I browse to `assetq.myfiosgateway.com`.

There, I propagate claims via `inject headers with claims`.

The `trace tag="webapp"` output the following data:

[code]

As you can see, by the time the request reaches the `trace` plugin,

[2021-12-26 22:34] greenpau commented on #93
@Haydnspass , now, lets modify `assetq.myfiosgateway.com`:

[code]

Here, let's use [Named Matchers](https://caddyserver.com/docs/caddyfile/matchers#named-matchers) to match for the users I am interested in.

If the `sub` is `webadmin`, the server responds with `webadmin welcome`.

Else if the `sub` is `greenpau`, the server responds with `greenpau welcome`.

Else: the server responds with forbidd

[2021-12-27 09:15] Haydnspass commented on #93
@greenpau Wow, thank you so much for your extensive answer! :)
I'll try implementing this in combination with the AWS Cognito login asap (I believe the auth route in your example can be omitted entirely, no?) asap let you know if it worked for me :)

[2021-12-27 12:33] greenpau commented on #93
@Haydnspass , yes. You don’t need auth portal setup. Added it for the completeness of the instruction.

[2022-01-02 21:35] helmut72 opened #94 "inject header doesn't work"
**Describe the issue**

`inject header` doesn't work. Standard output looks good, using whoami (docker container):

[code]

**Relevant Configuration**

[code]

backend_headers:
[code]

I've read:
https://authp.github.io/docs/authorize/headers

Also read this discussion, which looks the same what I want to do:
https://github.com/greenpau/caddy-authorize/issues/85#issuecomment-937952132

**Version I

[2022-01-02 21:57] helmut72 commented on #94
I need to use `sub` for the username.

[2022-01-02 21:57] #94 closed

[2022-01-02 23:03] greenpau commented on #94
@helmut72 , have you tried the below?

inject header "Remote-User" from sub

[2022-01-03 10:15] helmut72 commented on #94
Yes, this is what I found and what I mean with "I need to use `sub` for the username".

[2022-01-03 20:25] #93 closed

[2022-01-03 20:26] greenpau commented on #91
@rochdev , I may have fixed it in the latest release. Please test.

[2022-01-03 20:28] greenpau commented on #90
@connordeckers , I am working on basic auth and api keys integration with `authorize` plugin. Will keep you posted here.

[2022-01-03 20:29] greenpau commented on #27
This feature is working.

[2022-01-03 20:29] #27 closed

[2022-01-03 20:29] #92 closed

[2022-01-06 07:59] greenpau commented on #90
@connordeckers , this is now available with [caddy-auth-portal v1.4.37](https://github.com/greenpau/caddy-auth-portal/releases/tag/v1.4.37).

Please see https://gist.github.com/greenpau/b7fbdc3641a8a51a5d6f47e1c7af641b

Note the `with basic auth realm local` directive.

Once configured, you should be able to access endpoints with Basic Authentication, e.g.:

[code]

Please test 😃

[2022-01-06 08:05] #91 closed

[2022-01-06 17:48] #90 closed

[2022-01-06 17:50] greenpau commented on #79
@lorenzodonini , how is your experience with the plugin so far? Are you still using it?

[2022-01-07 03:23] connordeckers commented on #90
@greenpau Thank you so much! Sorry for the significant delay in replying; my server crashed, and then christmas happened.
I will most certainly test this out, and let you know how it all goes!

Thank you again for being so incredibly active on this! :)

[2022-01-07 14:19] PedroDBFlores opened #96 "feature: Accept a login hint in the Caddyfile's authorize block"
For some OAuth2 providers, there is a possibility of providing a login_hint parameter that will prefill the user's login on that provider (usually email).

For some routes I would like to be able to send the user to a login page with it's email prefilled, for this I thought of adding a set login hint my_hint parameter to the authorize block on the Caddyfile. The idea is that this login hint is the

[2022-01-08 16:19] greenpau commented on #96
@PedroDBFlores , @lennartschoch , I think the best way to handle this is to pass `login_hint` via query parameter only. To enable the feature, user `enable login hint` Caddyfile directive.

If the feature is enabled AND login hint is not in query parameters AND the user provided a valid token token AND the token provided by a user is expired, THEN extract the email address from the expired token a

[2022-01-08 17:02] greenpau commented on #96
@PedroDBFlores , @lennartschoch ,

The `usr, err := m.tokenValidator.Authorize(ctx, r)` may return an error, but it can have non nil-usr too!!!

Note how `usr.Authenticator.URL` is used to determine who originally authenticated a user.

https://github.com/greenpau/caddy-authorize/blob/07ab869315d9e0d9085a554d8d5f4fd5b4d705d8/pkg/authz/authorizer.go#L188-L189

Similarly, you can do the same thing t

[2022-01-09 11:09] lennartschoch commented on #96
Thanks for the quick response, @greenpau!

I like that approach! :)

The only thing I am not sure about is the validation:
According to the [OpenID Connect standard](https://openid.net/specs/openid-connect-core-1_0.html#rfc.section.3.1.2.1), `login_hint` can be any sort of identifier (for example also a phone number or even the `sub` as implemented by [Google](https://developers.google.com/identit

[2022-01-09 16:17] greenpau opened #97 "feature: shared secrets store"
Add credentials store so that it can be accessible by auth portal and authorize plugin subsystems.

For example, I want to store AWS credentials and being able to access it from various Caddy plugins.

Create the code necessary to support this in `pkg/shared/secrets` directory. It should be similar to the code in `pkg/shared/idp`.

[2022-01-09 16:18] greenpau commented on #97
This could be used for storing SMTP credentials.

[2022-01-10 07:33] lorenzodonini commented on #79
@greenpau Yes I'm still using the plugin (in production as well). I managed to make do without the support for custom claims so far, but it would still be a very appreciated feature.

[2022-01-10 14:26] greenpau commented on #96
@lennartschoch , I treat `login_hint` as an input. What am I concerned about? Primarily phishing and the ability to abuse this interface. Consider `?redirect_url=http://auth.contoso.com&login_hint=foo@bar.com%26redirect_url%3Dhttp%3A%2F%2Fbadactor`. If not parsed/validated correctly, a user may end up at `http://badactor`.

@PedroDBFlores, please implement the following:

* add `LoginHintValidator

[2022-01-10 14:30] greenpau commented on #79
@lorenzodonini , will make it a priority 👍

[2022-01-10 14:33] greenpau commented on #96
@PedroDBFlores @lennartschoch , fyi https://github.com/greenpau/caddy-authorize/commit/544ab8caf8fd381d9e2ff31ba0629dbbdf01592a

[2022-01-10 14:51] PedroDBFlores commented on #96
Thanks for the attention, I've merged that commit into my current branch. One question though, why pass the `login_hint_validators` to `redirOpts`? Wouldn't that mean that caddy_auth_portal should be the one validating them then?

[2022-01-10 15:21] greenpau commented on #79
Created starter configuration in preparation for the implementation: https://gist.github.com/greenpau/0da35620e00c0170cba1d69e12912429

[2022-01-10 15:23] greenpau commented on #96
@PedroDBFlores , you are correct! 👍  You have them in `func (m Authorizer) handleLoginHint(` via `m.LoginHintValidators`.

[2022-01-10 15:24] greenpau commented on #96
@PedroDBFlores , the `redirOpts` is just a container to store things in. Think of it as `context` in HTTP handlers. I just don't use the `context` 😃

[2022-01-10 18:36] PedroDBFlores commented on #96
Cool, I've made some more changes and tried to reorganize it a bit better. I ask that you also take a good look at the validators, do you think that we should go further into the regex rules?

[2022-01-10 18:50] greenpau commented on #96
@PedroDBFlores , good enough! 👍

---

Also, I think you are missing a critical component in your PR. I rather you guessing it (let me know if you want me to tell it), but will give you two hints:

1. If you have multiple `authorize` clauses in the same `context`, which one is primary? https://authp.github.io/docs/authorize/arch
2. Why do you call the field `LoginHintEnabled` and not `LoginHintDisa

[2022-01-11 11:12] PedroDBFlores commented on #96
I've understood now that we can enable it but not disable it explicitly, so I thought of the following?

[code]

And by default an `authorize` clause would consider login hint to be disabled.

[2022-01-11 12:20] greenpau commented on #96
@PedroDBFlores , see https://github.com/greenpau/caddy-authorize/blob/544ab8caf8fd381d9e2ff31ba0629dbbdf01592a/pkg/authz/manager.go#L137. How would you change the code now?

[2022-01-11 12:23] greenpau commented on #96
This one is even better explains it: https://github.com/greenpau/caddy-authorize/blob/544ab8caf8fd381d9e2ff31ba0629dbbdf01592a/pkg/authz/manager.go#L155

[2022-01-11 12:31] greenpau commented on #96
@PedroDBFlores , in short, you can see if login hint is enabled by the number of validators associated with it.

[2022-01-12 17:33] lennartschoch commented on #96
I just pushed the commit that enables inheriting of the login hint config from the primary instance, could you have a look @greenpau? :)

I was wondering about one more thing: Since we pass the login hint by calling a route like `/protected?login=hint=foo@bar.com`, the login hint will be taken to the `redirect_url`. Is this something we should mitigate?

[2022-01-13 11:44] lennartschoch commented on #96
I've created a PR that removes the login hint from the redirect URL [here](https://github.com/greenpau/caddy-auth-portal/pull/225).

[2022-01-17 19:39] greenpau opened #98 "announcement: caddy-authorize will merge into caddy-security"
Please see https://github.com/greenpau/caddy-auth-portal/issues/231 for details.

[2022-01-21 05:40] #98 closed

[2022-01-21 05:44] #97 closed

[2022-01-21 05:45] #88 closed

[2022-01-21 05:46] #80 closed

[2022-01-21 05:47] greenpau commented on #79
Closed. All future development happens in https://github.com/greenpau/caddy-security/issues/6

[2022-01-21 05:48] #79 closed

[2022-01-21 05:48] #73 closed

[2022-01-21 05:49] greenpau commented on #65
@AtomBaf , please reopen in https://github.com/greenpau/caddy-security/issues if this is still relevant.

[2022-01-21 05:49] #65 closed

[2022-01-21 05:49] greenpau commented on #64
Please reopen in https://github.com/greenpau/caddy-security/issues if this is still relevant.

[2022-01-21 05:49] #64 closed

[2022-01-21 05:50] #96 closed